{% include "pages/_page.head.njk" %}

{% from "components/header-mini/_macro.header-mini.njk" import componentHeaderMini %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.logged-out -->
<body>
  <!-- headerBlock -->
  {% block headerBlock %}
    {{ componentHeaderMini({
      "hasContainer": false,
      "customNavigationHtml": '<p class="ml-auto"><a href="https://stately.ai/registry/editor/596468f2-9edd-414f-ad35-ebfcdd0aa106?mode=Design&machineId=2a937f5a-3fba-4df6-9b4a-6f43257d9855" class="c-link" title="Se abre en ventana nueva" target="_blank">Ver statechart<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.8em" width="0.8em" class="inline-block ml-1 no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path d="M23.25,0h-8a.74.74,0,0,0-.69.47.74.74,0,0,0,.16.81L18,4.51l-9.45,9.3a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.7-.28l9.48-9.33,3.29,3.24a.74.74,0,0,0,.53.22.72.72,0,0,0,.29-.06A.74.74,0,0,0,24,8.62V.75A.76.76,0,0,0,23.25,0Z" fill="currentColor"></path><path d="M22.286057142857143 0H23.142857142857142c0.4733142857142857 0 0.8571428571428571 0.3837565714285714 0.8571428571428571 0.8571428571428571v0.8559548571428571l0 0.0023708571428571424V9.428571428571429c0 0.34668 -0.20879999999999999 0.6592285714285714 -0.5291999999999999 0.7918971428571429 -0.3202285714285714 0.1326685714285714 -0.6889714285714285 0.05933142857142857 -0.9341142857142858 -0.18581142857142857l-3.0733714285714284 -3.073525714285714 -16.536839999999998 16.536754285714284c-0.66948 0.6694285714285714 -1.7549022857142855 0.6694285714285714 -2.424372 0 -0.6694698857142857 -0.6694285714285714 -0.6694698857142857 -1.7549142857142856 0 -2.424342857142857L17.03886857142857 4.536771428571429 13.965342857142856 1.4632337142857141c-0.2451428571428571 -0.24514114285714284 -0.31848 -0.6138137142857142 -0.18581142857142857 -0.9341057142857143C13.912199999999999 0.208836 14.22474857142857 0 14.571428571428571 0h7.713942857142856l0.0006857142857142857 0Z" fill="currentColor"></path></g></svg></a></p>'
    }) }}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.statecharts.njk" %}
