/* ==========================================================================
   custom.css
   ========================================================================== */
@layer base {
  /* Smooth scroll for anchors */
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}


@layer components {
  /* custom css */
}

.test .u-ring {
  @apply ring ring-offset-2 ring-pink-400;
}