{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}



{% set aniadirEtiqueta %}
  <div class="lg:flex lg:flex-wrap lg:items-end lg:w-full border border-neutral-base bg-neutral-lighter p-sm pt-base rounded">
    {{ componentInput({
      "id": "etiquetas-input",
      "name": "etiquetas-input",
      "placeholder": "Etiqueta 1, Etiqueta 2...",
      "classes": "w-full",
      "label": {
        "text": "Etiquetas",
        "classes": "mb-sm font-semibold"
      },
      "hint": {
        "text": "Puedes introducir varias etiquetas separadas por comas"
      },
      "formGroup": {
        "classes": "flex-1 mb-sm lg:mb-0 -mt-sm"
      }
    })  }}
    <ul class="flex flex-wrap lg:items-center lg:ml-auto lg:pl-sm">
      <li>
        {{ componentButton({
          "html": 'Cancelar&nbsp;<span class="sr-only"> añadir etiquetas</span>',
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir&nbsp;<span class="sr-only">etiquetas</span>',
          "href": "#",
          "classes": "c-button--primary  ml-sm"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirNormativa %}
  <div class="border border-neutral-base bg-neutral-lighter mb-2xl rounded">
    <div class="p-base">
      {% call componentFieldset({
        "legend": {
          "text": "Añadir normativa",
          "classes": "mb-sm font-semibold"
        }
      })  %}
        <div class="mb-lg">
          {{ componentInputGroup({
            "id": "codigo-normativa",
            "fieldset": {
              "legend": {
                "text": "Código de normativa",
                "classes": "font-normal"
              }
            },
            "classes": "lg:flex items-baseline",
            "items": [
              {
                "isSelect": true,
                "name": "tipo",
                "label": {
                  "text": "Tipo",
                  "classes": "sr-only"
                },
                "formGroup": {
                  "classes": "mb-sm lg:mb-0"
                },
                "attributes": {
                  "aria-label": "Tipo"
                },
                "selectItems": [
                  {
                    "value": 0,
                    "text": "Tipo",
                    "selected": true,
                    "disabled": true
                  },
                  {
                    "value": 1,
                    "text": "Option 1"
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ]
              },
              {
                "name": "rango",
                "label": {
                  "text": "Rango/año",
                  "classes": "sr-only"
                },
                "placeholder": "Rango/año",
                "formGroup": {
                  "classes": "flex-grow lg:ml-sm mb-sm lg:mb-0"
                },
                "classes": "w-full",
                "attributes": {
                  "aria-label": "Rango o año"
                }
              },
              {
                "divider": {
                  "text": "de",
                  "classes": "ml-sm"
                }
              },
              {
                "isSelect": true,
                "name": "dia",
                "label": {
                  "text": "Día",
                  "classes": "sr-only"
                },
                "formGroup": {
                  "classes": "lg:ml-sm mb-sm lg:mb-0"
                },
                "attributes": {
                  "aria-label": "Dia"
                },
                "selectItems": [
                  {
                    "value": 0,
                    "text": "Día",
                    "selected": true,
                    "disabled": true
                  },
                  {
                    "value": 1,
                    "text": "Option 1"
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ]
              },
              {
                "divider": {
                  "text": "de",
                  "classes": "ml-sm"
                }
              },
              {
                "isSelect": true,
                "name": "mes",
                "label": {
                  "text": "Mes",
                  "classes": "sr-only"
                },
                "formGroup": {
                  "classes": "lg:ml-sm mb-sm lg:mb-0"
                },
                "attributes": {
                  "aria-label": "Mes"
                },
                "selectItems": [
                  {
                    "value": 0,
                    "text": "Mes",
                    "selected": true,
                    "disabled": true
                  },
                  {
                    "value": 1,
                    "text": "Option 1"
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ]
              }
            ]
          })  }}
        </div>
        {{ componentCharacterCount({
          "id": "descripcion-normativa",
          "name": "descripcion-normativa",
          "rows": 10,
          "classes": "w-full",
          "label": {
            "text": "Título"
          },
          "hint": {
            "classes": "text-black",
            "html": 'Introduce el título de la normativa. Hazlo sin escribir el rango de la misma y su fecha. <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de título de normativa</span></a>'
          },
          "maxlength": 500,
          "placeholder": "Ej: Procedimiento administrativo Común de las Administraciones Públicas",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentInput({
          "id": "enlace-web-de-la-normativa",
          "name": "enlace-web-de-la-normativa",
          "placeholder": "https://...",
          "classes": "w-full",
          "label": {
            "text": "Enlace web de la normativa"
          },
          "formGroup": {
            "classes": "mb-sm"
          }
        })  }}
      {% endcall %}
    </div>
    <hr class="border-neutral-base">
    <ul class="p-base flex flex-wrap justify-between">
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir normativa</span>',
          "href": "#",
          "classes": "ml-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;normativa</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirDestinatario %}
  <div class="lg:flex lg:flex-wrap lg:items-end lg:w-full border border-neutral-base bg-neutral-lighter p-sm pt-base mb-2xl rounded">
    {{ componentInput({
      "id": "nuevo-destinatario",
      "name": "nuevo-destinatario",
      "placeholder": "Escribe destinatario...",
      "classes": "w-full",
      "label": {
        "text": "Añadir nuevo destinatario",
        "classes": "font-semibold"
      },
      "formGroup": {
        "classes": "flex-1 mb-sm lg:mb-0 -mt-sm"
      }
    })  }}
    <ul class="flex lg:items-center lg:ml-auto lg:pl-sm">
      <li>
        {{ componentButton({
          "html": 'Cancelar <span class="sr-only">añadir nuevo destinatario</span>',
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir <span class="sr-only">nuevo destinatario</span>',
          "href": "#",
          "classes": "c-button--primary  ml-sm"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirRequisito %}
  <div class="lg:flex lg:flex-wrap lg:items-end lg:w-full border border-neutral-base bg-neutral-lighter p-sm pt-base mb-2xl rounded">
    {{ componentInput({
      "id": "requisitos-input",
      "name": "requisitos-input",
      "placeholder": "Escribe requisito...",
      "classes": "w-full",
      "label": {
        "text": "Añadir nuevo requisito",
        "classes": "font-semibold"
      },
      "formGroup": {
        "classes": "flex-1 mb-sm lg:mb-0 -mt-sm"
      }
    })  }}
    <ul class="flex lg:items-center lg:ml-auto lg:pl-sm">
      <li>
        {{ componentButton({
          "html": 'Cancelar <span class="sr-only">añadir nuevo requisito</span>',
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir <span class="sr-only">nuevo requisito</span>',
          "href": "#",
          "classes": "c-button--primary  ml-sm"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirCondicion %}
  <div class="lg:flex lg:flex-wrap lg:items-end lg:w-full border border-neutral-base bg-neutral-lighter p-sm pt-base rounded">
    {{ componentInput({
      "id": "condicion-input-1",
      "name": "condicion-input-1",
      "placeholder": "Escribe condición...",
      "classes": "w-full",
      "label": {
        "text": "Añadir nueva condición",
        "classes": "font-semibold"
      },
      "formGroup": {
        "classes": "flex-1 mb-sm lg:mb-0 -mt-sm"
      }
    })  }}
    <ul class="flex lg:items-center lg:ml-auto lg:pl-sm">
      <li>
        {{ componentButton({
          "html": 'Cancelar <span class="sr-only">añadir nueva condición</span>',
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir <span class="sr-only">nueva condición</span>',
          "href": "#",
          "classes": "c-button--primary  ml-sm"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirURL %}
  <div class="border border-neutral-base bg-neutral-lighter mb-2xl rounded">
    <div class="px-base py-sm">
      {% call componentFieldset({
        "legend": {
          "text": "Añadir nueva URL",
          "classes": "mb-sm font-semibold"
        }
      })  %}
         {{ componentInput({
           "id": "descripcion-url",
           "name": "descripcion-url",
           "placeholder": "Añade una descripción",
           "classes": "w-full",
           "label": {
             "text": "Descripción del enlace web"
           }
         })  }}
         {{ componentInput({
           "id": "url-enlace-web",
           "name": "url-enlace-web",
           "placeholder": "https://...",
           "classes": "w-full",
           "label": {
             "text": "URL del enlace web"
           },
           "formGroup": {
             "classes": "mb-sm"
           }
         })  }}
      {% endcall %}
    </div>
    <hr class="border-neutral-base">
    <ul class="flex flex-wrap justify-between p-base">
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;nueva URL</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir nueva URL</span>',
          "href": "#"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirDocumento %}
  <div class="border border-neutral-base bg-neutral-lighter mb-2xl rounded">
    <div class="px-base py-sm overflow-x-auto">
      {% call componentFieldset({
        "legend": {
          "text": "Añadir nuevo documento",
          "classes": "mb-sm font-semibold"
        }
      })  %}
        {{ componentInput({
          "id": "nuevo-documento-nombre",
          "name": "nuevo-documento-nombre",
          "placeholder": "Añade un nombre y descripción",
          "classes": "w-full",
          "label": {
            "text": "Nombre y descripción del documento"
          }
        })  }}
        <div class="border border-neutral-base bg-white mb-sm px-base py-sm rounded">
          {{ componentFileUpload({
            "id": "nuevo-documento-archivo",
            "name": "nuevo-documento-archivo",
            "label": {
              "text": "Subir archivo"
            },
            "classes": "overflow-x-auto max-w-64 lg:max-w-none",
            "formGroup": {
              "classes": "mb-sm "
            }
          })  }}
        </div>
      {% endcall %}
    </div>
    <hr class="border-neutral-base">
    <ul class="flex flex-wrap justify-between p-base">
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;nuevo documento</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir nuevo documento</span>',
          "href": "#"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set aniadirNuevoCanal %}
  <div class="border border-neutral-base bg-neutral-lighter mb-2xl rounded">
    <div class="p-base">
      {{ componentInputGroup({
        "id": "canales-informacion",
        "fieldset": {
          "legend": {
            "text": "Añadir canales de información adicional",
            "classes": "mb-sm font-semibold"
          }
        },
        "classes": "lg:flex mb-base",
        "formGroup": {
          "classes": "flex-grow mb-0 -mt-sm"
        },
        "items": [
          {
            "isSelect": true,
            "name": "canal",
            "label": {
              "text": "Canal"
            },
            "formGroup": {
              "classes": "mb-sm lg:mb-0"
            },
            "attributes": {
              "aria-label": "Canal"
            },
            "selectItems": [
              {
                "value": 1,
                "text": "Teléfono"
              },
              {
                "value": 2,
                "text": "Option 1"
              },
              {
                "value": 3,
                "text": "Option 2"
              }
            ]
          },
          {
            "name": "descripcion",
            "label": {
              "text": "Descripción"
            },
            "placeholder": "Descripción",
            "formGroup": {
              "classes": "flex-grow lg:ml-sm mb-0"
            },
            "classes": "w-full mb-sm mb-0",
            "attributes": {
              "aria-label": "Descripción"
            }
          },
          {
            "name": "valor-sustituir-esto-por-lo-que-proceda-segun-eleccion",
            "label": {
              "text": "Valor-sustituir-esto-por-lo-que-proceda-segun-eleccion"
            },
            "placeholder": "Valor-sustituir-esto-por-lo-que-proceda-segun-eleccion",
            "formGroup": {
              "classes": "lg:ml-sm"
            },
            "classes": "w-full mb-0",
            "attributes": {
              "aria-label": "Valor-sustituir-esto-por-lo-que-proceda-segun-eleccion"
            }
          }
        ]
      })  }}
      {{ componentCheckboxes({
        "idPrefix": "privado-1",
        "name": "privado-1",
        "classes": "c-checkboxes--sm",
        "formGroup": {
          "classes": "mb-0"
        },
        "items": [
          {
            "value": "privado",
            "text": "Privado, sólo será visible internamente.",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <hr class="border-neutral-base">
    <ul class="p-base flex flex-wrap justify-between">
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir nuevo canal de información adicional</span>',
          "href": "#",
          "classes": "ml-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;nuevo canal de información adicional</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set silencioAdministrativo %}
  {{ componentRadios({
    "idPrefix": "silencio-administrativo",
    "name": "silencio-administrativo",
    "fieldset": {
      "legend": {
        "text": "Silencio administrativo",
        "classes": "font-semibold"
      }
    },
    "formGroup": {
        "classes": "mb-base"
    },
    "items": [
      {
        "value": "silencio-administrativo-1",
        "text": "Silencio administrativo positivo",
        "hint": {
          "text": "Si termina el plazo máximo sin haberse notificado resolución expresa a las personas interesadas, su solicitud se entenderá estimada por silencio de la Administración competente."
        }
      },
      {
        "value": "silencio-administrativo-2",
        "text": "Silencio administrativo negativo",
        "hint": {
          "text": "Si termina el plazo máximo sin haberse notificado resolución expresa a las personas interesadas, su solicitud se entenderá desestimada por silencio de la Administración competente."
        }
      },
      {
        "value": "silencio-administrativo-3",
        "text": "No procede aplicar el silencio administrativo",
        "hint": {
          "text": "En la tramitación del procedimiento o gestión del servicio no existen plazos máximos de resolución y notificación o de emisión de informes preceptivos que implican la necesidad de informar sobre los efectos del silencio administrativo."
        }
      }
    ]
  })  }}
{% endset %}


{% set efectosDeLaResolucion %}
  {{ componentCheckboxes({
    "fieldset": {
      "legend": {
        "text": "Efectos de la resolución",
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "name": "efectos-de-la-resolucion",
        "id": "efectos-de-la-resolucion",
        "value": "efectos-de-la-resolucion",
        "text": "La resolución del trámite pone fin a la vía administrativa"
      }
    ]
  })  }}
{% endset %}


{% set recursosUOtrosProcedimientos %}
  {{ componentInput({
    "label": {
      "text": "Recursos u otros procedimientos de impugnación, conciliación, mediación o arbitraje contra la resolución",
      "classes": "font-semibold"
    },
    "id": "recursos-u-otros-procedientos",
    "name": "recursos-u-otros-procedientos",
    "classes": "w-full"
  })  }}
{% endset %}


{% set conditionalFormaElectronicoOpciones %}
  <p class="c-paragraph-base">El personal funcionario de las Oficinas de Asistencia en Materia de Registro (OAMR) siempre tiene la condición de funcionario habilitado. Adicionalmente, el Organismo Gestor del trámite puede habilitar personal funcionario para este trámite.</p>
  {{ componentCheckboxes({
    "idPrefix": "forma-electronico-designar-personal-funcionario-habilitado",
    "name": "forma-electronico-designar-personal-funcionario-habilitado",
    "fieldset": {
      "legend": {
        "text": "Designar personal funcionario",
        "classes": "sr-only"
      }
    },
    "items": [
      {
        "value": "forma-electronico-personal-funcionario",
        "text": "Designar personal funcionario habilitado en el organismo gestor",
        "attributes": {
          "onclick": "formaElectronicoPersonalFuncionario(event);"
        }
      }
    ]
  })  }}
{% endset %}


{% set conditionalTTO %}
  {{ componentInputGroup({
    "id": "conditional-tto",
    "namePrefix": "conditional-tto",
    "fieldset": {
      "legend": {
        "text": "URL de la solicitud en TTO",
        "classes": "sr-only"
      }
    },
    "classes": "lg:grid lg:grid-cols-2",
    "formGroup": {
      "classes": "mb-0"
    },
    "items": [
      {
        "name": "prefijo-url-solicitud-en-tto",
        "classes": "w-full",
        "label": {
          "text": "Prefijo de URL de la solicitud en TTO",
          "classes": "sr-only"
        },
        "value": "https://preaplicaciones.aragon.es/tramitar/",
        "disabled": true,
        "formGroup": {
          "classes": "mb-0"
        }
      },
      {
        "name": "nombre-url-solicitud-en-tto",
        "classes": "w-full",
        "label": {
          "text": "Nombre de URL de la solicitud en TTO",
          "classes": "sr-only"
        },
        "placeholder": "alias",
        "formGroup": {
          "classes": "mb-0"
        }
      }
    ]
  })  }}
{% endset %}


{% set conditionalREGA %}
  {{ componentInput({
    "id": "nombre-url-solicitud-en-rega",
    "name": "nombre-url-solicitud-en-rega",
    "classes": "w-full",
    "label": {
      "text": "Nombre de URL de la solicitud en REGA",
      "classes": "sr-only"
    },
    "value": "https://preaplicaciones.aragon.es/tramitar/registro-electronico-general-aragon",
    "formGroup": {
      "classes": "mb-0"
    },
    "disabled": true
  })  }}
{% endset %}


{% set conditionalPlataformaPropia %}
  {{ componentInput({
    "id": "nombre-url-solicitud-en-plataforma-propia",
    "name": "nombre-url-solicitud-en-plataforma-propia",
    "classes": "w-full",
    "label": {
      "text": "URL de la solicitud en plataforma propia",
      "classes": "sr-only"
    },
    "placeholder": "https://...",
    "formGroup": {
      "classes": "mb-0"
    }
  })  }}
{% endset %}


{% set conditionalFormaElectronico %}
  {{ componentRadios({
    "idPrefix": "forma-electronico-radios",
    "name": "forma-electronico-radios",
    "fieldset": {
      "legend": {
        "text": "Seleccione las opciones de solicitud electrónica",
        "classes": "font-semibold"
      },
      "attributes": {
        "id": "forma-electronico-radios-fieldset",
        "onclick": "formaElectronicoRadios();"
      }
    },
    "items": [
      {
        "value": "forma-electronico-tto",
        "html": 'A través de Tramitador Telemático Online (TTO)',
        "conditional": {
          "html": conditionalTTO | safe
        },
        "checked": true
      },
      {
        "value": "forma-electronico-rega",
        "text": "A través de Registro electrónico (REGA)",
        "conditional": {
          "html": conditionalREGA | safe
        }
      },
      {
        "value": "forma-electronico-plataforma-propia",
        "text": "Gestionar a través de plataforma propia",
        "conditional": {
          "html": conditionalPlataformaPropia | safe
        }
      }
    ]
  })  }}
  {{ componentCheckboxes({
    "idPrefix": "forma-electronico-opciones-adicionales",
    "name": "forma-electronico-opciones-adicionales",
    "fieldset": {
      "legend": {
        "text": "Opciones adicionales",
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "forma-electronico-presentacion-mediante-personal-funcionario-habilitado",
        "text": "Se prevé la presentación mediante personal funcionario habilitado",
         "conditional": {
          "html": conditionalFormaElectronicoOpciones | safe
        },
        "attributes": {
          "onclick": "formaElectronicoOpcionesAdicionales(event);"
        }
      }
    ]
  })  }}
{% endset %}


{% set otrasCondicionesEspecificas %}
  {{ componentTextarea({
    "name": "otras-condiciones-especificas-datos",
    "id": "otras-condiciones-especificas-datos",
    "label": {
      "text": "En caso de que sea necesario indica las particularidades de la presentación de la solicitud."
    },
    "classes": "w-full"
  })  }}
{% endset %}


{% set masOpcionesDePresentacion %}
  {{ componentCheckboxes({
    "idPrefix": "otras-condiciones-especificas-de-presentacion-de-la-solicitud",
    "name": "otras-condiciones-especificas-de-presentacion-de-la-solicitud",
    "fieldset": {
      "legend": {
        "text": "Otras condiciones específicas de presentación de la solicitud",
        "classes": "sr-only"
      }
    },
    "items": [
      {
        "value": "otras-condiciones-especificas",
        "text": "Otras condiciones específicas de presentación de la solicitud",
        "conditional": {
          "html": otrasCondicionesEspecificas | safe
        },
        "attributes": {
          "onclick": "otrasCondicionesEspecificasDePresentacionDeLaSolicitud(event);"
        }
      }
    ]
  })  }}
{% endset %}


{% set conditionalFormaPresencial %}
  {{ componentCheckboxes({
    "name": "forma-presencial-checkboxes",
    "fieldset": {
      "legend": {
        "text": "Oficinas de presentación",
        "classes": "sr-only"
      }
    },
    "items": [
      {
        "id": "oficinas-de-registro",
        "value": "oficinas-de-registro",
        "text": "Oficinas de registro",
        "attributes": {
          "onclick": "oficinasDeRegistro(event);"
        }
      },
      {
        "id": "otro-sitio",
        "value": "otro-sitio",
        "text": "Otro sitio",
        "attributes": {
          "onclick": "otroSitio(event);"
        }
      }
    ]
  })  }}
{% endset %}


{% set conditionalPagoTasas %}
  {{ componentTextarea({
    "name": "modelo-tasa",
    "id": "modelo-tasa",
    "label": {
      "text": "Indica el modelo de tasas de este proceso asociado"
    },
    "classes": "w-full"
  })  }}
  {{ componentInput({
    "id": "url-modelo-tasas",
    "name": "url-modelo-tasas",
    "placeholder": "https://...",
    "classes": "w-full",
    "label": {
      "text": "URL del modelo de tasas"
    }
  })  }}
{% endset %}


{% set conditionalPlazos %}
  <div role="group" aria-labelledby="plazo-temporal">
    {{ componentTextarea({
      "name": "detalles-plazo",
      "id": "detalles-plazo",
      "label": {
        "text": "Detalles del plazo de presentación"
      },
      "classes": "w-full"
    })  }}
    {{ componentRadios({
      "idPrefix": "temporal-opciones",
      "name": "temporal-opciones",
      "formGroup": {
          "classes": "mb-0"
      },
      "fieldset": {
        "legend": {
          "text": "Seleccione las opciones deseadas",
          "classes": "sr-only"
        },
        "attributes": {
          "id": "temporal-radios-fieldset",
          "onclick": "temporalRadios();"
        }
      },
      "items": [
        {
          "value": "temporalInicioFin",
          "text": "Inicio y fin rellenados",
          "checked": true
        },
        {
          "value": "temporalInicio",
          "text": "Sólo inicio rellenado"
        },
        {
          "value": "temporalFin",
          "text": "Sólo fin rellenado"
        },
        {
          "value": "temporalVacios",
          "text": "Inicio y fin vacíos (= Pendiente de definir)",
          "disabled": true
        }
      ]
    })  }}
  </div>
{% endset %}


{% set documentoEnPoderDeLaAdministracion %}
  <div class="border border-neutral-base bg-neutral-lighter rounded">
    <div class="p-base">
      {% call componentFieldset({
        "legend": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-label="Documento en poder de la administración" focusable="false" role="img"><g transform="scale(2)"><path d="m23.88 23.18-2.5-3A.49.49 0 0 0 21 20H3a.49.49 0 0 0-.38.18l-2.5 3a.47.47 0 0 0-.07.53.49.49 0 0 0 .45.29h23a.49.49 0 0 0 .45-.29.47.47 0 0 0-.07-.53Z" fill="currentColor" /><rect x="3" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="10" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="17" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><path d="M2.08 9.28a.51.51 0 0 0 .42.22h19a.51.51 0 0 0 .42-.22l1-1.5A.5.5 0 0 0 22.5 7h-21a.5.5 0 0 0-.42.78ZM1.5 6h21a.5.5 0 0 0 .21-1l-10.5-5a.45.45 0 0 0-.42 0L1.29 5a.5.5 0 0 0 .21 1Z" fill="currentColor" /></g></svg>Añadir documento en poder de la administración',
          "classes": "mb-sm font-bold"
        }
      })  %}
        <p class="c-paragraph-base">Documento que se pueden obtener a través de la Plataforma de intermediación y el Servicio de Verificación y Consulta de Documentos del Gobierno de Aragón. En caso de que la persona interesada se oponga a la consulta, se dará la opcion de aportar el documento para la tramitación del procedimiento o gestión del servicio.</p>
        {{ componentSelect({
          "id": "select-documento-en-poder-de-la-administracion",
          "name": "select-documento-en-poder-de-la-administracion",
          "label": {
            "text": "Selecciona el documento que se va a consultar o verificar a través de la Plataforma de Intermediación",
            "classes": "font-semibold"
          },
          "errorMessage": {
            "text": "Error: Tienes que elegir un documento"
          },
          "classes": "w-full",
          "items": [
            {
              "value": "",
              "text": "Selecciona un documento",
              "disabled": true,
              "selected": true,
              "hidden": true
            },
            {
              "value": 2,
              "text": "Option 2"
            },
            {
              "value": 3,
              "text": "Option 3"
            }
          ]
        })  }}
        {{ componentCharacterCount({
          "id": "descripcion-documento-en-poder-de-la-administracion",
          "name": "descripcion-documento-en-poder-de-la-administracion",
          "rows": 10,
          "classes": "w-full",
          "label": {
            "text": "Descripción y observaciones del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui la descripción",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
      {% endcall %}
      {{ componentRadios({
        "idPrefix": "obligatorio-documento-en-poder-de-la-administracion",
        "name": "obligatorio-documento-en-poder-de-la-administracion",
        "fieldset": {
          "legend": {
            "text": "Tipo de obligatoriedad del documento en poder de la administración",
            "classes": "sr-only"
          }
        },
        "formGroup": {
            "classes": "mb-0"
        },
        "items": [
          {
            "value": "obligatorio-1",
            "text": "Obligatorio para admitir a trámite la solicitud.",
            "checked": true
          },
          {
            "value": "obligatorio-2",
            "text": "Obligatorio con carácter previo a la resolución."
          }
        ]
      })  }}
    </div>
    <hr class="border-neutral-base">
    <ul class="p-base flex flex-wrap justify-between">
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir documento en poder de la administración</span>',
          "href": "#",
          "classes": "ml-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;documento en poder de la administración</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set documentoEnPoderDeLaAdministracionEditar %}
  <ul class="flex flex-wrap flex-row gap-base mb-lg">
    <li class="w-full">
      {% call componentItem({
        "title": {
          "text": "Estar al Corriente de Pago con la Seguridad Social - TGSS",
            "classes": "font-semibold"
        },
        "classes": "w-full p-sm mb-sm",
        "isDraggable": true,
        "items": [
          {
            "text": "En poder de la administración"
          },
          {
            "text": "Obligatorio para trámite"
          }
        ],
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento en poder de la administración" focusable="false" role="img"><g transform="scale(2)"><path d="m23.88 23.18-2.5-3A.49.49 0 0 0 21 20H3a.49.49 0 0 0-.38.18l-2.5 3a.47.47 0 0 0-.07.53.49.49 0 0 0 .45.29h23a.49.49 0 0 0 .45-.29.47.47 0 0 0-.07-.53Z" fill="currentColor" /><rect x="3" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="10" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="17" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><path d="M2.08 9.28a.51.51 0 0 0 .42.22h19a.51.51 0 0 0 .42-.22l1-1.5A.5.5 0 0 0 22.5 7h-21a.5.5 0 0 0-.42.78ZM1.5 6h21a.5.5 0 0 0 .21-1l-10.5-5a.45.45 0 0 0-.42 0L1.29 5a.5.5 0 0 0 .21 1Z" fill="currentColor" /></g></svg>'
        }
      })  %}
          <div class="flex">
            {% set dropdownId = "a-1" %}
            {% set dropdownTitle = "Estar al Corriente de Pago con la Seguridad Social - TGSS" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li class="w-full">
      {% call componentItem({
        "title": {
          "text": "Corriente de pago para ayudas y subvenciones - CCAA",
            "classes": "font-semibold"
        },
        "classes": "w-full p-sm mb-sm",
        "isDraggable": true,
        "items": [
          {
            "text": "En poder de la administración"
          },
          {
            "text": "Obligatorio para trámite"
          }
        ],
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento en poder de la administración" focusable="false" role="img"><g transform="scale(2)"><path d="m23.88 23.18-2.5-3A.49.49 0 0 0 21 20H3a.49.49 0 0 0-.38.18l-2.5 3a.47.47 0 0 0-.07.53.49.49 0 0 0 .45.29h23a.49.49 0 0 0 .45-.29.47.47 0 0 0-.07-.53Z" fill="currentColor" /><rect x="3" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="10" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="17" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><path d="M2.08 9.28a.51.51 0 0 0 .42.22h19a.51.51 0 0 0 .42-.22l1-1.5A.5.5 0 0 0 22.5 7h-21a.5.5 0 0 0-.42.78ZM1.5 6h21a.5.5 0 0 0 .21-1l-10.5-5a.45.45 0 0 0-.42 0L1.29 5a.5.5 0 0 0 .21 1Z" fill="currentColor" /></g></svg>'
        }
      })  %}
          <div class="flex">
            {% set dropdownId = "a-2" %}
            {% set dropdownTitle = "Corriente de pago para ayudas y subvenciones - CCAA" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ul>
{% endset %}


{% set documentoEnPoderDeLaPersonaSolicitanteEditar %}
  <div class="mb-lg">
    {% call componentItem({
      "title": {
        "text": "Condición 1",
        "classes": "font-semibold"
      },
      "classes": "p-sm mb-sm",
      "isDraggable": true
    })  %}
      <div class="flex">
        {% set dropdownId = "b-1" %}
        {% set dropdownTitle = "Condición 1" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Listado de facturas y deudas",
        "classes": "font-semibold"
      },
      "description": {
        "text": "En este listado deberás incluir las deudas y pagos a proveedores y otros acreedores, financieros y no financieros, así como los costes fijos incurridos , siempre y cuando éstos se hayan devengado entre el 1 de marzo de 2020 y el 31 de mayo de 2021 y procedan de contratos anteriores al 13 de marzo de 2021."
      },
      "classes": "p-sm mb-sm ml-lg",
      "isDraggable": true,
      "items": [
        {
          "text": "Según modelo"
        },
        {
          "text": "Obligatorio para trámite"
        }
      ],
      "content": {
        "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
      },
      "icon": {
        "type": "document"
      }
    })  %}
      <div class="flex">
        {% set dropdownId = "b-2" %}
        {% set dropdownTitle = "Listado de facturas y deudas" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Nota informativa sobre los gastos subvencionables",
        "classes": "font-semibold"
      },
      "content": {
        "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
      },
      "classes": "p-sm mb-sm ml-lg",
      "isDraggable": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento" focusable="false" role="img"><path d="M14 3.5A3.5 3.5 0 0 0 10.5 0h-7A3.5 3.5 0 0 0 0 3.5v7A3.5 3.5 0 0 0 3.5 14h7a3.5 3.5 0 0 0 3.5-3.5Zm-10.25 5a.74.74 0 0 1-.53-.22.75.75 0 0 1 0-1.06L6 4.43a.26.26 0 0 0 .06-.28.25.25 0 0 0-.22-.15H4.75a.75.75 0 0 1 0-1.5h3.5a.74.74 0 0 1 .69.5.75.75 0 0 1-.16.82l-4.5 4.5a.74.74 0 0 1-.53.18Zm7-1.72L8 9.57a.26.26 0 0 0-.06.28.25.25 0 0 0 .23.15h1.08a.75.75 0 0 1 0 1.5h-3.5a.74.74 0 0 1-.69-.5.75.75 0 0 1 .16-.82l4.5-4.5a.75.75 0 0 1 1.06 1.06Z" fill="currentColor" transform="scale(3.42857)"/></svg>'
      }
    })  %}
      <div class="flex">
        {% set dropdownId = "b-3" %}
        {% set dropdownTitle = "Nota informativa sobre los gastos subvencionables" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Condición 2",
        "classes": "font-semibold"
      },
      "classes": "p-sm mb-sm",
      "isDraggable": true
    })  %}
      <div class="flex">
        {% set dropdownId = "b-4" %}
        {% set dropdownTitle = "Condición 2" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Entidades locales de la Comunidad Autónoma de Aragón",
        "classes": "font-semibold"
      },
      "description": {
        "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod"
      },
      "classes": "p-sm mb-sm ml-lg",
      "isDraggable": true,
      "items": [
        {
          "text": "Desde modelo"
        },
        {
          "text": "Obligatorio previo a resolución"
        },
        {
          "text": "Condicionado"
        }
      ],
      "icon": {
        "type": "document"
      }
    })  %}
      <div class="flex">
        {% set dropdownId = "b-5" %}
        {% set dropdownTitle = "Entidades locales de la Comunidad Autónoma de Aragón" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Nota informativa sobre los gastos subvencionables",
        "classes": "font-semibold"
      },
      "content": {
        "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
      },
      "classes": "p-sm mb-sm ml-lg",
      "isDraggable": true,
      "icon": {
        "type": "document"
      }
    })  %}
      <div class="flex">
        {% set dropdownId = "b-6" %}
        {% set dropdownTitle = "Nota informativa sobre los gastos subvencionables" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Modelo para acreditar la representación",
        "classes": "font-semibold"
      },
      "items": [
        {
          "text": "Según modelo"
        },
        {
          "text": "Obligatorio para trámite"
        }
      ],
      "content": {
        "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
      },
      "classes": "p-sm mb-sm",
      "isDraggable": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento" focusable="false" role="img"><g transform="matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)"><path d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM9.28,8.78,7.53,10.53a.75.75,0,0,1-1.06,0L4.72,8.78A.75.75,0,0,1,4.56,8a.74.74,0,0,1,.69-.46H6a.25.25,0,0,0,.25-.25V4a.75.75,0,0,1,1.5,0V7.25A.25.25,0,0,0,8,7.5h.75A.74.74,0,0,1,9.44,8,.75.75,0,0,1,9.28,8.78Z" fill="currentColor"></path></g></svg>'
      }
    })  %}
      <div class="flex">
        {% set dropdownId = "b-7" %}
        {% set dropdownTitle = "Modelo para acreditar la representación" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
    {% call componentItem({
      "title": {
        "text": "Nota informativa sobre los gastos subvencionables",
        "classes": "font-semibold"
      },
      "content": {
        "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
      },
      "classes": "p-sm mb-sm",
      "isDraggable": true,
      "icon": {
        "type": "document"
      }
    })  %}
      <div class="flex">
        {% set dropdownId = "b-8" %}
        {% set dropdownTitle = "Nota informativa sobre los gastos subvencionables" %}
        {% include "includes/_dropdown-drag-and-drop.njk" %}
        <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
      </div>
    {% endcall %}
  </div>
{% endset %}


{% set documentoEnPoderDeLaPersonaSolicitante %}
  <div class="border border-neutral-base bg-neutral-lighter rounded">
    <div class="p-base">
      {% call componentFieldset({
        "legend": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false" role="img"><path d="M11.25 14h-8.5A1.76 1.76 0 0 1 1 12.25V1.75A1.76 1.76 0 0 1 2.75 0h4.5a.75.75 0 0 1 .53.22l5 5a.75.75 0 0 1 .22.53v6.5A1.76 1.76 0 0 1 11.25 14ZM2.75 1.5a.25.25 0 0 0-.25.25v10.5a.25.25 0 0 0 .25.25h8.5a.25.25 0 0 0 .25-.25V6.16a.26.26 0 0 0-.07-.16L7 1.57a.26.26 0 0 0-.17-.07Z" fill="currentColor" transform="scale(3.42857)"/><path d="M6.5 4.88H4.75a.63.63 0 0 1 0-1.26H6.5a.63.63 0 0 1 0 1.26ZM9.25 7.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26ZM9.25 10.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26Z" fill="currentColor" transform="scale(3.42857)"/></svg>Documento en poder de la persona solicitante',
          "classes": "mb-sm font-bold"
        }
      })  %}
        <p class="c-paragraph-base">Documento que no tiene la administración y debe ser enviado por el solicitante.</p>
        {{ componentCharacterCount({
          "id": "nombre-documento-en-poder-de-la-persona-solicitante",
          "name": "nombre-documento-en-poder-de-la-persona-solicitante",
          "rows": 10,
          "classes": "w-full h-11",
          "label": {
            "text": "Nombre del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui el nombre",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentCharacterCount({
          "id": "descripcion-documento-en-poder-de-la-persona-solicitante",
          "name": "descripcion-documento-en-poder-de-la-persona-solicitante",
          "rows": 10,
          "classes": "w-full",
          "label": {
            "text": "Descripción y observaciones del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui la descripción",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentRadios({
          "idPrefix": "obligatorio-documento-en-poder-de-la-persona-solicitante",
          "name": "obligatorio-documento-en-poder-de-la-persona-solicitante",
          "fieldset": {
            "legend": {
              "text": "Tipo de obligatoriedad del documento en poder de la administración",
              "classes": "sr-only"
            }
          },
          "formGroup": {
              "classes": "mb-0"
          },
          "items": [
            {
              "value": "obligatorio-1",
              "text": "Obligatorio para admitir a trámite la solicitud.",
              "checked": true
            },
            {
              "value": "obligatorio-2",
              "text": "Obligatorio con carácter previo a la resolución."
            }
          ]
        })  }}
        {% call componentDetails({
          "summary": {
            "html": "Opciones avanzadas"
          }
        })  %}
            {{ componentCheckboxes({
              "idPrefix": "gestion-de-archivos-pesados-documento-en-poder-de-la-persona-solicitante",
              "name": "gestion-de-archivos-pesados-documento-en-poder-de-la-persona-solicitante",
              "fieldset": {
                "legend": {
                  "text": "Gestión de archivos pesados",
                  "classes": "sr-only"
                }
              },
              "items": [
                {
                  "value": "archivos-pesados-documento-en-poder-de-la-persona-solicitante",
                  "text": "Habilita la gestion de archivos pesados (archivo de más de 10 mb)"
                }
              ]
            })  }}
            {{ componentCheckboxes({
              "idPrefix": "formatos-de-archivo-aceptados-documento-en-poder-de-la-persona-solicitante",
              "name": "formatos-de-archivo-aceptados-documento-en-poder-de-la-persona-solicitante",
              "fieldset": {
                "legend": {
                  "text": "Formatos de archivo aceptados"
                }
              },
              "items": [
                {
                  "value": "formato-documento-en-poder-de-la-persona-solicitante-1",
                  "text": "Formato de imagen o documento escaneado (jpg, png, pdf)"
                },
                {
                  "value": "formato-documento-en-poder-de-la-persona-solicitante-2",
                  "text": "Documento de texto editable (doc, docx, txt)"
                },
                {
                  "value": "formato-documento-en-poder-de-la-persona-solicitante-3",
                  "text": "Documento de hoja de calculo editable (csv, excel)"
                },
                {
                  "value": "formato-documento-en-poder-de-la-persona-solicitante-4",
                  "text": "Otros"
                }
              ]
            })  }}
        {% endcall %}
      {% endcall %}
    </div>
    <hr class="border-neutral-base">
    <ul class="p-base flex flex-wrap justify-between">
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir documento en poder de la administración</span>',
          "href": "#",
          "classes": "ml-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;documento en poder de la administración</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set referenciaADocumento %}
  <div class="lg:flex lg:flex-wrap lg:items-end lg:w-full border border-neutral-base bg-neutral-lighter p-sm pt-base mb-2xl rounded">
    {{ componentSelect({
      "id": "referencia-a-documento",
      "name": "referencia-a-documento",
      "label": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false" role="img"><path d="M14 3.5A3.5 3.5 0 0 0 10.5 0h-7A3.5 3.5 0 0 0 0 3.5v7A3.5 3.5 0 0 0 3.5 14h7a3.5 3.5 0 0 0 3.5-3.5Zm-10.25 5a.74.74 0 0 1-.53-.22.75.75 0 0 1 0-1.06L6 4.43a.26.26 0 0 0 .06-.28.25.25 0 0 0-.22-.15H4.75a.75.75 0 0 1 0-1.5h3.5a.74.74 0 0 1 .69.5.75.75 0 0 1-.16.82l-4.5 4.5a.74.74 0 0 1-.53.18Zm7-1.72L8 9.57a.26.26 0 0 0-.06.28.25.25 0 0 0 .23.15h1.08a.75.75 0 0 1 0 1.5h-3.5a.74.74 0 0 1-.69-.5.75.75 0 0 1 .16-.82l4.5-4.5a.75.75 0 0 1 1.06 1.06Z" fill="currentColor" transform="scale(3.42857)"/></svg>Referencia a documento',
        "classes": "font-semibold"
      },
      "formGroup": {
        "classes": "flex-1"
      },
      "classes": "w-full",
      "items": [
        {
          "value": "",
          "text": "Selecciona el documento a referenciar",
          "disabled": true,
          "selected": true,
          "hidden": true
        },
        {
          "value": 1,
          "text": "Option 1"
        },
        {
          "value": 2,
          "text": "Option 2"
        },
        {
          "value": 3,
          "text": "Option 3"
        }
      ]
    })  }}
    <ul class="flex lg:items-center lg:ml-auto lg:pl-sm">
      <li>
        {{ componentButton({
          "html": 'Cancelar <span class="sr-only">añadir nuevo destinatario</span>',
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir <span class="sr-only">nuevo destinatario</span>',
          "href": "#",
          "classes": "c-button--primary  ml-sm"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set documentoDesdeModelo %}
  <div class="border border-neutral-base bg-neutral-lighter rounded">
    <div class="p-base">
      {% call componentFieldset({
        "legend": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false" role="img"><path d="M14 7a7 7 0 1 0-7 7 7 7 0 0 0 7-7ZM9.28 8.78l-1.75 1.75a.75.75 0 0 1-1.06 0L4.72 8.78A.75.75 0 0 1 4.56 8a.74.74 0 0 1 .69-.46H6a.25.25 0 0 0 .25-.25V4a.75.75 0 0 1 1.5 0v3.25A.25.25 0 0 0 8 7.5h.75a.74.74 0 0 1 .69.5.75.75 0 0 1-.16.78Z" fill="currentColor" transform="scale(3.42857)"/></svg>Documento desde modelo',
          "classes": "mb-sm font-bold"
        }
      })  %}
        <p class="c-paragraph-base">Documento que debe que aportar el solicitante a partir de un modelo concreto.</p>
        {{ componentCharacterCount({
          "id": "nombre-documento-desde-modelo",
          "name": "nombre-documento-desde-modelo",
          "rows": 10,
          "classes": "w-full h-11",
          "label": {
            "text": "Nombre del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui el nombre",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentCharacterCount({
          "id": "descripcion-documento-desde-modelo",
          "name": "descripcion-documento-desde-modelo",
          "rows": 10,
          "classes": "w-full",
          "label": {
            "text": "Descripción y observaciones del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui la descripción",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {% call componentFieldset({
          "legend": {
            "text": "Archivo modelo",
            "classes": "mb-base font-semibold"
          }
        })  %}
            {{ componentFileUpload({
              "id": "file-upload-documento-desde-modelo",
              "name": "file-upload-documento-desde-modelo",
              "label": {
                "text": "Sube el archivo modelo"
              },
              "classes": "overflow-x-auto max-w-64 lg:max-w-none"
            })  }}
            {% call componentItem({
              "title": {
                "text": "Archivo modelo.pdf (245Kb)"
              },
              "icon": {
                "type": "document"
              },
              "classes": "mb-sm"
            })  %}
                <ul class="flex flex-wrap gap-xs">
                  <li>
                    {{ componentButton({
                      "text": "Descargar",
                      "classes": "c-button--sm c-button--transparent ml-sm"
                    })  }}
                  </li>
                  <li>
                    {{ componentButton({
                      "text": "Eliminar",
                      "classes": "c-button--sm c-button--transparent ml-sm"
                    })  }}
                  </li>
                </ul>
            {% endcall %}
        {% endcall %}
        <div class="pb-xl"></div>
        {{ componentInputGroup({
          "id": "url-publica-del-documento",
          "namePrefix": "url-publica-del-documento",
          "fieldset": {
            "legend": {
              "text": "URL pública del documento",
              "classes": "mb-0 font-semibold"
            }
          },
          "hint": {
            "text": "En caso de no indicar URL se generará una automática.",
            "classes": "mb-base"
          },
          "classes": "lg:grid lg:grid-cols-2",
          "formGroup": {
            "classes": "mb-0"
          },
          "items": [
            {
              "name": "prefijo-url-publica-documento",
              "classes": "w-full",
              "label": {
                "text": "Prefijo de URL pública del documento",
                "classes": "sr-only"
              },
              "value": "http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=22430&key=",
              "disabled": true
            },
            {
              "name": "nombre-url-publica-documento",
              "classes": "w-full",
              "label": {
                "text": "Nombre de URL pública del documento",
                "classes": "sr-only"
              },
              "hint": {
                "text": "Utilizar underscores en vez de espacios",
                "classes": "sr-only"
              },
              "placeholder": "Nombre_del_doc"
            }
          ]
        })  }}
        {{ componentRadios({
          "idPrefix": "obligatorio-documento-desde-modelo",
          "name": "obligatorio-documento-desde-modelo",
          "fieldset": {
            "legend": {
              "text": "Tipo de obligatoriedad del documento en poder de la administración",
              "classes": "sr-only"
            }
          },
          "formGroup": {
              "classes": "mb-0"
          },
          "items": [
            {
              "value": "obligatorio-1",
              "text": "Obligatorio para admitir a trámite la solicitud.",
              "checked": true
            },
            {
              "value": "obligatorio-2",
              "text": "Obligatorio con carácter previo a la resolución."
            }
          ]
        })  }}
        {% call componentDetails({
          "summary": {
            "html": "Opciones avanzadas"
          }
        })  %}
            {{ componentCheckboxes({
              "idPrefix": "gestion-de-archivos-pesados-desde-modelo",
              "name": "gestion-de-archivos-pesados-desde-modelo",
              "fieldset": {
                "legend": {
                  "text": "Gestión de archivos pesados",
                  "classes": "sr-only"
                }
              },
              "items": [
                {
                  "value": "archivos-pesados-desde-modelo",
                  "text": "Habilita la gestion de archivos pesados (archivo de más de 10 mb)"
                }
              ]
            })  }}
            {{ componentCheckboxes({
              "idPrefix": "formatos-de-archivo-aceptados-desde-modelo",
              "name": "formatos-de-archivo-aceptados-desde-modelo",
              "fieldset": {
                "legend": {
                  "text": "Formatos de archivo aceptados"
                }
              },
              "items": [
                {
                  "value": "formato-desde-modelo-1",
                  "text": "Formato de imagen o documento escaneado (jpg, png, pdf)"
                },
                {
                  "value": "formato-desde-modelo-2",
                  "text": "Documento de texto editable (doc, docx, txt)"
                },
                {
                  "value": "formato-desde-modelo-3",
                  "text": "Documento de hoja de calculo editable (csv, excel)"
                },
                {
                  "value": "formato-desde-modelo-4",
                  "text": "Otros"
                }
              ]
            })  }}
        {% endcall %}
      {% endcall %}
    </div>
    <hr class="border-neutral-base">
    <ul class="p-base flex flex-wrap justify-between">
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;añadir documento en poder de la administración</span>',
          "href": "#",
          "classes": "ml-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Añadir<span class="sr-only">&nbsp;documento en poder de la administración</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set conditionalAportarDocumentacion %}
  <div role="group" aria-labelledby="doc-si" class="overflow-x-auto">
    <h3 class="c-h3">Documentos en poder del solicitante</h3>
    <p class="c-paragraph-base">Añade uno por uno los documentos que debe aportar la persona solicitante.</p>
    {{ documentoEnPoderDeLaPersonaSolicitanteEditar | safe }}
    {{ componentMenubar({
      "id": "aniadir-documentos-menubar-id",
      "idPrefix": "aniadir-documentos-menubar-prefix",
      "ariaLabel": "Menubar de añadir documentos",
      "items": [
        {
          "text": "Añadir documento",
          "ariaLabel": "Añadir documento",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "html": 'Documento en poder de la persona solicitante'
              },
              {
                "role": "menuitem",
                "html": 'Documento desde modelo'
              },
              {
                "role": "menuitem",
                "html": 'Referencia a documento'
              }
            ]
          },
          "classes": "mb-base mr-base"
        },
        {
          "text": "Añadir condición",
          "ariaLabel": "Añadir condición",
          "classes": "mb-base mr-base",
          "href": "#"
        }
      ]
    })  }}
    {{ aniadirCondicion | safe }}
    {{ documentoEnPoderDeLaPersonaSolicitante | safe }}
    {{ documentoDesdeModelo | safe }}
    {{ referenciaADocumento | safe }}
    <div class="pb-2xl"></div>
    <h3 class="c-h3">Documentos en poder de la administración</h3>
    <p class="c-paragraph-base">Indica los documentos en poder de la administración que pueden ser consultados para tramitar la solicitud.</p>
    {{ documentoEnPoderDeLaAdministracionEditar | safe }}
    <button role="button" class="c-button" >Añadir documento</button>
    {{ documentoEnPoderDeLaAdministracion | safe }}
  </div>
{% endset %}


{% set subirModelo %}
  {{ componentFileUpload({
    "id": "subir-modelo-de-solicitud-descargable",
    "name": "subir-modelo-de-solicitud-descargable",
    "label": {
      "text": "Modelo de solicitud descargable"
    },
    "hint": {
      "text": "Sube el archivo que servirá de modelo para el solicitante. Tamaño máximo 10MB."
    },
    "classes": "overflow-x-auto max-w-64 lg:max-w-none"
  })  }}
{% endset %}


{% set modeloSolicitud %}
  {% call componentItem({
    "title": {
      "text": "Plantilla de modelo de solicitud.txt"
    },
    "icon": {
      "type": "document"
    },
    "classes": "mb-sm"
  })  %}
      <ul class="flex flex-wrap gap-xs">
        <li>
          {{ componentButton({
            "text": "Descargar",
            "classes": "c-button--sm c-button--transparent ml-sm"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Eliminar",
            "classes": "c-button--sm c-button--transparent ml-sm"
          })  }}
        </li>
      </ul>
  {% endcall %}
{% endset %}


{% set conditionalModelo %}
  <div role="group" aria-labelledby="modelo-si">
    {{ modeloSolicitud | safe }}
  </div>
{% endset %}


{% set documentoDeTramitacion %}
  <div class="border border-neutral-base bg-neutral-lighter rounded">
    <div class="p-base">
      {% call componentFieldset({
        "legend": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false" role="img"><path d="M11.25 14h-8.5A1.76 1.76 0 0 1 1 12.25V1.75A1.76 1.76 0 0 1 2.75 0h4.5a.75.75 0 0 1 .53.22l5 5a.75.75 0 0 1 .22.53v6.5A1.76 1.76 0 0 1 11.25 14ZM2.75 1.5a.25.25 0 0 0-.25.25v10.5a.25.25 0 0 0 .25.25h8.5a.25.25 0 0 0 .25-.25V6.16a.26.26 0 0 0-.07-.16L7 1.57a.26.26 0 0 0-.17-.07Z" fill="currentColor" transform="scale(3.42857)"/><path d="M6.5 4.88H4.75a.63.63 0 0 1 0-1.26H6.5a.63.63 0 0 1 0 1.26ZM9.25 7.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26ZM9.25 10.88h-4.5a.63.63 0 0 1 0-1.26h4.5a.63.63 0 0 1 0 1.26Z" fill="currentColor" transform="scale(3.42857)"/></svg>Documento de tramitación',
          "classes": "mb-sm font-bold"
        }
      })  %}
        <p class="c-paragraph-base">Indica los detalles del documento, recuerda que el enlace al documento será público, aunque el acceso al mismo dependerá de los permisos que tenga la plataforma correspondiente.</p>
        {{ componentCharacterCount({
          "id": "nombre-documento-de-tramitacion",
          "name": "nombre-documento-de-tramitacion",
          "rows": 10,
          "classes": "w-full h-11",
          "label": {
            "text": "Nombre del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui el nombre",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentCharacterCount({
          "id": "descripcion-documento-de-tramitacion",
          "name": "descripcion-documento-de-tramitacion",
          "rows": 10,
          "classes": "w-full",
          "label": {
            "text": "Descripción y observaciones del documento",
            "classes": "font-semibold"
          },
          "maxlength": 500,
          "placeholder": "Escribe aqui la descripción",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Indica el CSV del documento"
          },
          "hint": {
            "text": "Para ser publicado en SEDE este documento debe ser público y no debe estar bloqueado."
          },
          "id": "csv-documento-de-tramitacion",
          "name": "csv-documento-de-tramitacion",
          "placeholder": "Ej.: 0887346837563756"
        })  }}
      {% endcall %}
    </div>
    <hr class="border-neutral-base">
    <ul class="p-base flex flex-wrap justify-between">
      <li>
        {{ componentButton({
          "html": 'Cancelar<span class="sr-only">&nbsp;el publicar documento de tramitación</span>',
          "href": "#",
          "classes": "ml-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Publicar<span class="sr-only">&nbsp;documento de tramitación</span>',
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>
  </div>
{% endset %}


{% set listaDeDocumentosDeTramitacion %}
  {% call componentItem({
    "title": {
      "text": "Listado provisional de admitidos",
      "classes": "font-semibold"
    },
    "description": {
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod."
    },
    "classes": "p-sm mb-sm",
    "isDraggable": true,
    "items": [
      {
        "text": "Publicado el 12 de Enero, 2020"
      },
      {
        "text": "CSV: 0887346837563756"
      }
    ],
    "icon": {
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento de tramitación" focusable="false" role="img"><path d="M22 6.51a2 2 0 0 0-2-2h-1a1 1 0 0 0 0 2h.5A.5.5 0 0 1 20 7v9.48a.25.25 0 0 1-.25.25H16.5a1.75 1.75 0 0 0-1.75 1.75v3.25a.25.25 0 0 1-.25.25h-10a.5.5 0 0 1-.5-.5V7a.5.5 0 0 1 .5-.5H8a1 1 0 0 0 0-2H4a2 2 0 0 0-2 2V22a2 2 0 0 0 2 2h11a7 7 0 0 0 4.93-2A6.93 6.93 0 0 0 22 17Zm-5.42 15.23a.27.27 0 0 1-.23 0 .26.26 0 0 1-.1-.2v-3a.25.25 0 0 1 .25-.25h3a.26.26 0 0 1 .2.1.24.24 0 0 1 0 .23 5 5 0 0 1-1.21 2 5.12 5.12 0 0 1-1.91 1.12Z" fill="currentColor" transform="scale(2)"/><path d="M8.79 8.31a1 1 0 0 0 0 1.41 1 1 0 0 0 1.42 0L15 5a.27.27 0 0 1 .26-.06A2.43 2.43 0 0 0 16 5a2.5 2.5 0 1 0-2.5-2.5 2.43 2.43 0 0 0 .12.77.25.25 0 0 1-.06.26ZM17.75 13a.76.76 0 0 0-.75-.75H7a.75.75 0 1 0 0 1.5h10a.75.75 0 0 0 .75-.75ZM7 17.26a.75.75 0 0 0 0 1.5h4.25a.75.75 0 0 0 0-1.5Z" fill="currentColor" transform="scale(2)"/></svg>'
    }
  })  %}
    <div class="flex">
      {% set dropdownId = "ddt-1" %}
      {% set dropdownTitle = "Listado provisional de admitidos" %}
      {% include "includes/_dropdown-drag-and-drop.njk" %}
      <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
    </div>
  {% endcall %}
  {% call componentItem({
    "title": {
      "text": "Listado provisional de admitidos",
      "classes": "font-semibold"
    },
    "description": {
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod."
    },
    "classes": "p-sm mb-sm",
    "isDraggable": true,
    "items": [
      {
        "text": "Publicado el 30 de Enero, 2020"
      },
      {
        "text": "CSV: 0887346837563756"
      }
    ],
    "icon": {
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento de tramitación" focusable="false" role="img"><path d="M22 6.51a2 2 0 0 0-2-2h-1a1 1 0 0 0 0 2h.5A.5.5 0 0 1 20 7v9.48a.25.25 0 0 1-.25.25H16.5a1.75 1.75 0 0 0-1.75 1.75v3.25a.25.25 0 0 1-.25.25h-10a.5.5 0 0 1-.5-.5V7a.5.5 0 0 1 .5-.5H8a1 1 0 0 0 0-2H4a2 2 0 0 0-2 2V22a2 2 0 0 0 2 2h11a7 7 0 0 0 4.93-2A6.93 6.93 0 0 0 22 17Zm-5.42 15.23a.27.27 0 0 1-.23 0 .26.26 0 0 1-.1-.2v-3a.25.25 0 0 1 .25-.25h3a.26.26 0 0 1 .2.1.24.24 0 0 1 0 .23 5 5 0 0 1-1.21 2 5.12 5.12 0 0 1-1.91 1.12Z" fill="currentColor" transform="scale(2)"/><path d="M8.79 8.31a1 1 0 0 0 0 1.41 1 1 0 0 0 1.42 0L15 5a.27.27 0 0 1 .26-.06A2.43 2.43 0 0 0 16 5a2.5 2.5 0 1 0-2.5-2.5 2.43 2.43 0 0 0 .12.77.25.25 0 0 1-.06.26ZM17.75 13a.76.76 0 0 0-.75-.75H7a.75.75 0 1 0 0 1.5h10a.75.75 0 0 0 .75-.75ZM7 17.26a.75.75 0 0 0 0 1.5h4.25a.75.75 0 0 0 0-1.5Z" fill="currentColor" transform="scale(2)"/></svg>'
    }
  })  %}
    <div class="flex">
      {% set dropdownId = "ddt-1" %}
      {% set dropdownTitle = "Listado final de admitidos" %}
      {% include "includes/_dropdown-drag-and-drop.njk" %}
      <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
    </div>
  {% endcall %}
{% endset %}
