{% set title = "Relación entre datos de SEDA y barra lateral de SEDE. Gobierno de Aragón" %}
{% extends "pages/_template.statecharts.njk" %}

{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

{% import "includes/_editar-varios.njk" as editar with context %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="flex w-full">
    <div class="sticky top-0 left-0 w-96 max-h-screen overflow-y-auto p-base bg-neutral-lighter border-t-8 border-neutral-dark">
      <h2 class="c-h2 uppercase">SEDA Configuración</h2>
      {{ componentToggle({
        "classes": "c-button c-button--sm mb-lg",
        "offState": {
          "classes": "",
          "html": "Mostrar zonas"
        },
        "onState": {
          "classes": "c-button--has-selection",
          "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" width=\"1em\" height=\"1em\"><path d=\"M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z\" fill=\"currentColor\"/></svg>Mostrar zonas</span>"
        },
        "attributes": {
          "onclick": "document.body.classList.toggle('test');"
        }
      }) }}
      <h2 id="Inicio" class="c-h2 c-anchor-scroll-edit">Inicio</h2>
      {{ componentCheckboxes({
        "fieldset": {
          "legend": {
            "text": "Selecciona las formas de iniciar el trámite",
            "classes": "c-h3",
            "isPageHeading": true
          },
          "headingLevel": 3,
          "classes": "c-anchor-scroll-edit",
          "attributes": {
            "id": "inicio-tramite"
          }
        },
        "classes": "mb-xl",
        "items": [
          {
            "name": "inicio-de-oficio",
            "id": "inicio-de-oficio",
            "value": "inicio-de-oficio",
            "text": "Inicio de oficio",
            "attributes": {
              "onclick": "inicioDeOficio();"
            }
          },
          {
            "name": "inicio-a-instancia",
            "id": "inicio-a-instancia",
            "value": "inicio-a-instancia",
            "text": "Inicio a instancia del interesado",
            "attributes": {
              "onclick": "inicioAInstancia();"
            }
          }
        ]
      })  }}
      <h2 id="tiempo" class="c-h2 c-anchor-scroll-edit">Plazos</h2>
      {{ componentRadios({
        "name": "plazos-radios",
        "fieldset": {
          "legend": {
            "text": "Plazos",
            "classes": "c-h3",
            "isPageHeading": true
          },
          "headingLevel": 3,
          "classes": "c-anchor-scroll-edit",
          "attributes": {
            "id": "plazos-radios-fieldset",
            "onclick": "plazosRadios()"
          }
        },
        "classes": "mb-xl",
        "items": [
          {
            "name": "fueraDePlazo-input",
            "id": "fueraDePlazo-input",
            "value": "fueraDePlazo",
            "text": "Fuera de plazo"
          },
          {
            "name": "enPlazo-input",
            "id": "enPlazo-input",
            "value": "enPlazo",
            "text": "En plazo",
            "checked": true
          },
          {
            "name": "plazoProximo-input",
            "id": "plazoProximo-input",
            "value": "plazoProximo",
            "text": "Plazo aún no ha comenzado, pero está próximo (menos de una semana)"
          },
          {
            "name": "plazoPendiente-input",
            "id": "plazoPendiente-input",
            "value": "plazoPendiente",
            "text": "Plazo pendiente de definir (plazo permanente)"
          }
        ]
      })  }}
      <h2 id="datos-especificos" class="c-h2 c-anchor-scroll-edit">Edición de un proceso o convocatoria</h2>
      <div class="hidden">
        {{ componentCheckboxes({
          "fieldset": {
            "legend": {
              "text": "Trámites principales",
              "classes": "c-h3",
              "isPageHeading": true
            },
            "headingLevel": 3,
            "classes": "c-anchor-scroll-edit",
            "attributes": {
              "id": "tramites-principales"
            }
          },
          "classes": "mb-xl",
          "items": [
            {
              "name": "tramite-principal-1",
              "id": "tramite-principal-1",
              "value": "tramite-principal-1",
              "text": "Subsanación",
              "hint": {
                "text": "En la tramitación del procedimiento o la gestión del servicio se prevé la posibilidad de abrir un periodo de subsanación."
              }
            },
            {
              "name": "tramite-principal-2",
              "id": "tramite-principal-2",
              "value": "tramite-principal-2",
              "text": "Procesos de participación y/o audiencia a las partes interesadas",
              "hint": {
                "text": "La tramitación del procedimiento o la gestión del servicio va a contar con un trámite de información pública o de audiencia a las personas interesadas, de acuerdo con lo previsto en su normativa reguladora."
              }
            },
            {
              "name": "tramite-principal-3",
              "id": "tramite-principal-3",
              "value": "tramite-principal-3",
              "text": "Práctica de prueba",
              "hint": {
                "text": "En la normativa reguladora del procedimiento o servicio se prevé la posibilidad de abrir un periodo de prueba."
              }
            },
            {
              "name": "tramite-principal-4",
              "id": "tramite-principal-4",
              "value": "tramite-principal-4",
              "text": "Informe preceptivos",
              "hint": {
                "text": "Es necesario pedir informes preceptivos a otros órganos administrativos con carácter previo a la terminación del procedimiento o la prestación del servicio."
              }
            },
            {
              "name": "tramite-principal-5",
              "id": "tramite-principal-5",
              "value": "tramite-principal-5",
              "text": "Resolución",
              "hint": {
                "text": "El procedimiento termina mediante resolución."
              }
            },
            {
              "name": "tramite-principal-6",
              "id": "tramite-principal-6",
              "value": "tramite-principal-6",
              "text": "Revisiones y recursos",
              "hint": {
                "text": "La resolución que finaliza el procedimiento es susceptible de recursos, reclamaciones o revisiones en vía administrativa."
              }
            },
            {
              "name": "tramite-principal-7",
              "id": "tramite-principal-7",
              "value": "tramite-principal-7",
              "text": "Obligación de pago/abono en fase de ejecución",
              "hint": {
                "text": "Con la finalización del procedimiento nace una obligación de abono o de pago respecto a la persona interesada."
              }
            }
          ]
        })  }}
        <h3 id="finalizacion-y-revision" class="c-h3 c-anchor-scroll-edit">Finalización y revisión</h3>
        <p class="c-paragraph-base">Indica las caracteristicas que tendrá este servicio o procedimiento en su fase de resolución.</p>
        {{ componentTextarea({
          "name": "plazo-para-la-notificacion-de-la-resolucion",
          "id": "plazo-para-la-notificacion-de-la-resolucion",
          "label": {
            "text": "Plazo para la notificación de la resolución",
            "classes": "font-semibold"
          },
          "classes": "w-full max-h-xl mb-base"
        })  }}
        {{ editar.silencioAdministrativo | safe }}
        {{ editar.efectosDeLaResolucion | safe }}
        {{ editar.recursosUOtrosProcedimientos | safe }}
        <div class="pb-2xl"></div>
        {{ componentCheckboxes({
          "name": "otras-consideraciones",
          "fieldset": {
            "legend": {
              "text": "Otras consideraciones",
              "classes": "c-h3",
              "isPageHeading": true
            },
            "headingLevel": 3,
            "classes": "c-anchor-scroll-edit",
            "attributes": {
              "id": "otras-consideraciones"
            }
          },
          "items": [
            {
              "name": "tramitacion-electronica",
              "id": "tramitacion-electronica",
              "value": "tramitacion-electronica",
              "text": "Tramitación de forma electrónica",
              "hint": {
                "classes": "font-normal",
                "text": "Señalar si la tramitación del precedimiento o la gestión del servicio, desde la recepción de la solicitud hasta su terminación, se realiza de forma electrónica utilizando una herramienta propia de gestión o las herramientas corporativas de adminsitración electrónica."
              }
            }
          ]
        })  }}
      </div>

      {{ componentCheckboxes({
        "fieldset": {
          "legend": {
            "text": "Forma de presentar la solicitud",
            "classes": "c-h3",
            "isPageHeading": true
          },
          "headingLevel": 3,
          "classes": "c-anchor-scroll-edit",
          "attributes": {
            "id": "forma-de-presentar-la-solicitud"
          }
        },
        "formGroup": {
            "classes": "mb-base"
        },
        "items": [
          {
            "name": "forma-presencial",
            "id": "forma-presencial",
            "value": "forma-presencial",
            "text": "Presencial",
            "conditional": {
              "html": editar.conditionalFormaPresencial | safe
            },
            "attributes": {
              "onclick": "formaPresencial();"
            }
          },
          {
            "name": "forma-electronico",
            "id": "forma-electronico",
            "value": "forma-electronico",
            "text": "Electrónico",
            "checked": true,
            "conditional": {
              "html": editar.conditionalFormaElectronico | safe
            },
            "attributes": {
              "onclick": "formaElectronico();"
            }
          }
        ]
      })  }}
      {% from "components/details/_macro.details.njk" import componentDetails %}
      {% call componentDetails({
        "summary": {
          "html": "Más opciones de presentación"
        },
        "classes": "mb-2xl"
      })  %}
          {{ editar.masOpcionesDePresentacion | safe }}
      {% endcall %}
     {{ componentRadios({
        "name": "plazo-presentacion",
        "fieldset": {
          "legend": {
            "text": "Plazos de presentación",
            "classes": "c-h3",
            "isPageHeading": true
          },
          "headingLevel": 3,
          "classes": "c-anchor-scroll-edit",
          "attributes": {
            "id": "fechas-radios-fieldset",
            "onclick": "fechasRadios();"
          }
        },
        "hint": {
          "text": "Indica qué plazos de presentación se pueden dar"
        },
        "classes": "mb-xl",
        "items": [
          {
            "name": "plazo-permanente",
            "id": "plazo-permanente",
            "value": "plazo-permanente",
            "text": "Permanente",
            "checked": true,
            "hint": {
              "classes": "font-normal",
              "text": "No existe un límite de tiempo para presentar la solicitud."
            }
          },
          {
            "name": "plazo-temporal",
            "id": "plazo-temporal",
            "value": "plazo-temporal",
            "text": "Temporal",
            "hint": {
              "classes": "font-normal",
              "text": "Existe un período de tiempo para presentar la solicitud."
            },
            "conditional": {
              "html": editar.conditionalPlazos | safe
            }
          }
        ]
      })  }}
      <h3 id="modelo-de-solicitud" class="c-h3 c-anchor-scroll-edit">Modelo normalizado de solicitud</h2>
      <p class="c-paragraph-base">Indica si es necesario la presentación de un modelo normalizado de solicitud para este procedimiento o servicio.</p>
      {{ componentRadios({
        "idPrefix": "modelo-solicitud",
        "name": "modelo-solicitud",
        "fieldset": {
          "legend": {
            "text": "Modelo de solicitud",
            "classes": "sr-only"
          },
          "attributes": {
            "id": "modelo-radios-fieldset",
            "onclick": "modeloRadios();"
          }
        },
        "classes": "mb-xl",
        "items": [
          {
            "name": "modelo-no",
            "id": "modelo-no",
            "value": "modelo-no",
            "text": "No es necesario un modelo normalizado de solicitud"
          },
          {
            "name": "modelo-si",
            "id": "modelo-si",
            "value": "modelo-si",
            "text": "Es necesario un modelo normalizado de solicitud",
            "conditional": {
              "html": editar.conditionalModelo | safe
            },
            "checked": true
          }
        ],
        "formGroup": {
          "classes": "overflow-x-auto"
        }
      })  }}
    </div>
    <div class="w-full pl-lg">
      <div class="lg:grid lg:grid-cols-8 gap-lg">
        <div class="col-span-6">
          {{ componentBreadcrumbs({
            "items": [
              {
                "text": "Inicio",
                "href": "/"
              },
              {
                "text": "Trámites",
                "href": "/"
              },
              {
                "text": "Categorías de trámites",
                "href": "/"
              },
              {
                "text": "Actividades industriales y energía",
                "href": "/"
              },
              {
                "text": "Actividades industriales",
                "href": "/"
              },
              {
                "text": "Instalaciones industriales",
                "href": "/"
              },
              {
                "text": "Ayudas ligadas al autoconsumo, almacenamiento y sistemas térmicos con fuentes de energía renovable renovables",
                "href": "/"
              },
              {
                "text": "Programa 1 Instalaciones de autoconsumo renovable en el sector servicios con o sin almacenamiento",
                "href": "/"
              }
            ]
          })  }}
          <h1 class="c-h1">Ayudas ligadas al autoconsumo, almacenamiento y sistemas térmicos con fuentes de energía renovable renovables - Programa 1 Instalaciones de autoconsumo renovable en el sector servicios con o sin almacenamiento</h1>
          <p class="c-paragraph-base text-neutral-dark">N°6580</p>
          <div class="prose max-w-full">
            <p>Subvencionar instalaciones de autoconsumo renovable en el sector servicios, con o sin almacenamiento.</p>
            <p>Las actuaciones subvencionables dentro del programas de incentivos 1 incluyen actuaciones fotovoltaicas y eólicas para autoconsumo, entendiendo por instalaciones de autoconsumo las establecidas en el Real Decreto 244/2019, de 5 de abril, por el que se regulan las condiciones administrativas, técnicas y económicas del autoconsumo de energía eléctrica.</p>
            <p>Además, el programas de incentivos 1 prevé como actuaciones subvencionables las nuevas instalaciones de almacenamiento asociadas a la nueva instalación.</p>
            <p>A efectos de elegibilidad de las actuaciones, para los destinatarios últimos del programa de incentivos 1, dado el carácter incentivador de las ayudas, solo se admitirán actuaciones por parte de los destinatarios últimos de las ayudas iniciadas con posterioridad a la fecha de registro de la solicitud de la ayuda.</p>
            <p>La subvención máxima a percibir se corresponderá con los 5 primeros MW de potencia de la instalación. Se permite la instalación de potencias superiores a este límite, pero en ningún caso podrán percibir ayuda por la potencia que supere los 5 MW indicados.</p>
            <p>Para cada tecnología (eólica o fotovoltaica) sólo será elegible una actuación por destinatario último de la ayuda y por ubicación o ligadas al mismo consumo o consumos.</p>
          </div>
          {{ componentMenuHorizontal({
            "items": [
              {
                "href": "#dirigido-a",
                "text": "Dirigido a"
              },
              {
                "href": "#requisitos",
                "text": "Requisitos"
              },
              {
                "href": "#documentacion",
                "text": "Documentación"
              },
              {
                "href": "#informacion-adicional",
                "text": "Información adicional"
              },
              {
                "href": "#presentacion-de-la-solicitud",
                "text": "Presentación de la solicitud"
              },
              {
                "href": "#contacto-y-ayuda",
                "text": "Contacto y ayuda"
              }
            ],
            "classes": "my-lg",
            "attributes": {
              "aria-label": "Menu horizontal"
            }
          })  }}
          <h2 id="dirigido-a" class="c-h2">Dirigido a</h2>
          <ul class="c-ul">
            <li>
              Personas jurídicas y agrupaciones de empresas o de personas físicas, con o sin personalidad jurídica, que realicen una actividad económica por la que ofrezcan bienes o servicios en el mercado
            </li>
            <li>
              Los gestores de polígonos industriales, de naturaleza pública o privada
            </li>
            <li>
              Las empresas explotadoras, arrendatarias o concesionarias de actuaciones en el ámbito de la energía
            </li>
          </ul>
          <h2 id="requisitos" class="c-h2">Requisitos</h2>
          <ul class="c-ul">
            <li>
              Actuación realizada en la Comunidad Autónoma de Aragón
            </li>
            <li>
              Las actuaciones se tendrán que realizar tras el registro de la solicitud (efecto incentivador) para los solicitantes del Programa 1
            </li>
            <li>
              En los programas de incentivos 1, 2 y 3, se considerarán como destinatarios últimos de las ayudas las empresas de servicios energéticos u otras empresas que realicen las actuaciones en establecimientos de los sectores incluidos en cada programa, siempre y cuando el servicio energético generado por la actuación sea realizado para una empresa cuyo CNAE esté incluido en los reflejados en los párrafos anteriores.
            </li>
          </ul>
          <h2 id="documentacion" class="c-h2">Documentación</h2>
          <h3 class="c-h3">Presentar en todos los casos:</h3>
          <div class="prose max-w-full">
            <ul class="mb-lg">
              <li>
                Memoria
                <p>Memoria técnica descriptiva de las instalaciones a realizar</p>
                {{ componentButton({
                  "html": 'Descargar modelo<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"></path></svg>',
                  "href": "/"
                })  }}
              </li>
              <li>Presupuesto de la actuación
                <p>Presupuesto de la empresa o empresas que realizarán la ejecución de las actuaciones, suficientemente desglosado, de fecha posterior a la publicación en el Boletín Oficial del Estado del presente real decreto. En el caso de destinatarios últimos sujetos a normativa de contratación pública, esta documentación podrá sustituirse por el borrador de los pliegos de licitación correspondientes.</p>
                <p>Cuando el importe del coste subvencionable supere las cuantías establecidas en la normativa de contratación pública aplicable para el contrato menor, y no concurriendo alguno de los supuestos previstos por el artículo 31.3 de la Ley 38/2003, de 17 de noviembre, el destinatario último de la ayuda deberá acreditar que ha solicitado, al menos, tres ofertas de diferentes proveedores, de conformidad con lo establecido por dicho precepto, y aportar una memoria que justifique razonablemente la elección del proveedor cuando la misma no haya recaído en la oferta económica más ventajosa. Esta documentación se deberá presentar una vez finalizada la obra como parte de la documentación justificativa. Si ya dispone de las tres ofertas, las puede adjuntar a la solicitud</p>
              </li>
            </ul>
            <h2>Documentación</h2>
            <h3>Presentar en todos los casos:</h3>
            <ul class="mb-lg">
              <li>Memoria
                <p>
                  Memoria técnica descriptiva de las instalaciones a realizar</p>
                 {{ componentButton({
                    "html": 'Descargar modelo<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"></path></svg>',
                    "href": "/"
                  })  }}
                </li>
                <li>Presupuesto de la actuación
                  <p>
                    Presupuesto de la empresa o empresas que realizarán la ejecución de las actuaciones, suficientemente desglosado, de fecha posterior a la publicación en el Boletín Oficial del Estado del presente real decreto. En el caso de destinatarios últimos sujetos a normativa de contratación pública, esta documentación podrá sustituirse por el borrador de los pliegos de licitación correspondientes.</p>
                    <p>Cuando el importe del coste subvencionable supere las cuantías establecidas en la normativa de contratación pública aplicable para el contrato menor, y no concurriendo alguno de los supuestos previstos por el artículo 31.3 de la Ley 38/2003, de 17 de noviembre, el destinatario último de la ayuda deberá acreditar que ha solicitado, al menos, tres ofertas de diferentes proveedores, de conformidad con lo establecido por dicho precepto, y aportar una memoria que justifique razonablemente la elección del proveedor cuando la misma no haya recaído en la oferta económica más ventajosa. Esta documentación se deberá presentar una vez finalizada la obra como parte de la documentación justificativa. Si ya dispone de las tres ofertas, las puede adjuntar a la solicitud</p>
                </li>
            </ul>
            <!-- DOCUMENTOS CON CONDICIONALES -->
            <h3>Presentar solo si cumples alguna de estas condiciones:</h3>
            <p>Si la potencia de la instalación supera los 100 KW de potencia nominal</p>
            <ul class="mb-lg">
              <li>Informe, según AII.A1, e) de las bases reguladoras
                <p>
                  Se aportará un plan estratégico que indique el origen o lugar de fabricación (nacional, europeo o internacional) de los componentes de la instalación y su impacto medioambiental, incluyendo el almacenamiento, los criterios de calidad o durabilidad utilizados para seleccionar los distintos componentes, la interoperabilidad de la instalación o su potencial para ofrecer servicios al sistema, así como el efecto tractor sobre PYMES y autónomos que se espera que tenga el proyecto. Podrá incluir, además, estimaciones de su impacto sobre el empleo local y sobre la cadena de valor industrial local, regional y nacional
                </p>
              </li>
            </ul>
            <p>Si la potencia de la instalación NO supera los 100 KW de potencia nominal</p>
            <ul class="mb-lg">
              <li>Declaración responsable daño significativo
                <p>
                  Declaración responsable de que la instalación no causa daño significativo a ninguno de los objetivos medioambientales del Reglamento UE 2020/852</p>
                  {{ componentButton({
                    "html": 'Descargar modelo<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"></path></svg>',
                    "href": "/"
                  })  }}
              </li>
            </ul>
            <p>Para todos los tipos de beneficiario</p>
            <ul class="mb-lg">
              <li>Documento de declaraciones responsables
                <p>
                  o Si la solicitud se firma por el destinatario último de la ayuda (eligiendo “para mí” en el tramitador), las declaraciones responsables estarán incluidas en la propia solicitud, quedando firmadas con la firma de la solicitud.
                </p>
                <p>
                  o  En el caso de que la solicitud se firme en representación de otra persona o entidad, el documento de declaraciones responsables se debe descargar y aportar firmado por el destinatario último de la ayuda.
                </p>
                {{ componentButton({
                  "html": 'Descargar modelo<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"></path></svg>',
                  "href": "/"
                })  }}
              </li>
            </ul>
            <!--  DOCUMENTOS DE LA ADMINISTRACION -->
            <h3 class="c-h3">Documentación que consultará la administración</h3>
            <p>Para poder resolver este trámite, la administración consultará algunos datos adicionales.</p>
            {% call componentDetails({
              "summary": {
                "html": "Ver detalles"
              }
            })  %}
              <ul>
                <li>Verificación de Datos de Identidad</li>
                <li>Obligaciones tributarias - Ayudas y subvenciones</li>
                <li>Corriente de pago para ayudas y subvenciones</li>
                <li>Estar al Corriente de Pago con la Seguridad Social</li>
                <li>Validación de NIF de un contribuyente</li>
              </ul>
              <p>El solicitante puede oponerse a que la administración consulte esta información. En tal caso deberá aportar los documentos correspondientes que acrediten esa información en el momento de hacer la solicitud.</p>
            {% endcall %}
            <!-- INFORMACION ADICIONAL -->
            <div class="servicios-tramites-module__body__bloque anchor" id="InformacionAdicional">
              <h2 id="informacion-adicional">Información adicional</h2>
              <p>Más información en las páginas de IDAE y del Gobierno de Aragón.</p>
              <h3>Documentos y enlaces de interés</h3>
              <ul class="mb-0">
                <li><a href="https://www.idae.es/ayudas-y-financiacion/para-energias-renovables-en-autoconsumo-almacenamiento-y-termicas-sector" class="c-link">IDAE</a></li>
                <li><a href="https://www.aragon.es/-/subvenciones-y-ayudas" class="c-link">Ayudas y subvenciones en materia de energía del Gobierno de Aragón</a></li>
              </ul>
            </div>
            <!-- PRESENTACION SOLICITUD. -->
            <div class="servicios-tramites-module__body__bloque anchor" id="PresentacionSolicitud">
              <h2 id="presentacion-de-la-solicitud">Presentación de la solicitud</h2>
              <section id="formaPresentacion-content">
                <div id="formaPresencial-content">
                  <div id="formaPresencialChecked-content" class="hidden">
                    <h3>PRESENCIAL</h3>
                    <div id="oficinasDeRegistro-content">
                      <div id="oficinasDeRegistroChecked-content" class="hidden">
                        <ol>
                          <li id="modelo-oficinasDeRegistro-siNecesario-content" class="hidden">
                            Descarga el formulario. Complétalo y fírmalo. <br>
                            <div class="block mt-base">
                              {{ componentButton({
                                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>Descargar formulario',
                                "href": "#"
                              })  }}
                            </div>
                          </li>
                          <li id="modelo-oficinasDeRegistro-noNecesario-content" class="hidden">
                          </li>
                          <li>Reúne la documentación que tienes que aportar.</li>
                          <li>
                            Solicita cita previa en una de nuestras oficinas de información y registro. <a href="">Localiza tu oficina más cercana</a>
                            <div class="block mt-base">
                              {{ componentButton({
                                "text": "Pedir cita previa",
                                "classes": "c-button--primary"
                              })  }}
                            </div>
                          </li>
                          <li>Presenta la documentación correspondiente en esa oficina.</li>
                        </ol>
                      </div>
                    </div>
                    <div id="otroSitio-content">
                      <div id="otroSitioChecked-content" class="hidden">
                        <p>Acude a nuestras oficinas para presentar tu trámite.</p>
                        <div id="modelo-otroSitio-content">
                          <ol>
                            <li>Reúne la documentación que tienes que aportar.</li>
                            <li id="modelo-otroSitio-siNecesario-content" class="hidden">
                              Descarga el formulario. Complétalo y fírmalo. <br>
                              {{ componentButton({
                                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>Descargar formulario',
                                "classes": "mb-base",
                                "href": "#"
                              })  }}
                            </li>
                            <li><a href="#">Consulta más información sobre la presentación</a></li>
                          </ol>
                          <div id="modelo-otroSitio-noNecesario-content" class="hidden">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="formaElectronico-content">
                  <div id="formaElectronicoChecked-content" class="hidden">
                    <div id="plazos-content">
                      <div id="enPlazo-content" class="hidden">
                        <h3>TELEMÁTICA</h3>
                        <div id="opcionesDeSolicitudElectronica-content">
                          <div id="tto-content" class="hidden">
                            <ol>
                              <li>Necesitas un método de identificación y firma electrónica (DNIe, certificado electrónico o cl@ve).<br><a href="https://www.youtube.com/playlist?list=PLU6GTGMRIf_e3D_7k2T-5FkZo4t7XigqH">Descubre más información sobre los métodos de identificación y firma electrónica.</a></li>
                              <li>Pulsar en "Iniciar trámite", completa la solicitud, sube la documentación correspondiente y firma electrónicamente.</li>
                            </ol>
                            <p>
                              En caso de no tener firma electrónica, puedes completar todo el proceso telemáticamente (solicitud y documentación), descargar la solicitud, firmarla y entregarla de forma presencial.
                            </p>
                            {{ componentButton({
                              "text": "Iniciar trámite",
                              "classes": "c-button--primary"
                            })  }}
                          </div>
                          <div id="rega-content" class="hidden">
                            <div id="modelo-rega-content">
                              <div id="rega-siNecesario-content" class="hidden">
                                rega-siNecesario-content
                              </div>
                              <div id="rega-noNecesario-content" class="hidden">
                                rega-noNecesario-content
                              </div>
                            </div>
                          </div>
                          <div id="propia-content" class="hidden">
                            <h3>TELEMÁTICA</h3>
                            {{ componentButton({
                              "text": "Iniciar trámite",
                              "classes": "c-button--primary"
                            })  }}
                          </div>
                        </div>
                      </div>
                      <div id="fueraDePlazo-content" class="hidden">
                        <h3>TELEMÁTICA</h3>
                        {{ componentButton({
                          "text": "Consultar trámite",
                          "classes": "c-button--primary mb-base"
                        })  }}
                      </div>
                      <div id="plazoProximo-content" class="hidden">
                        <h3>TELEMÁTICA</h3>
                        {{ componentButton({
                          "text": "Consultar trámite",
                          "classes": "c-button--primary mb-base"
                        })  }}
                      </div>
                      <div id="plazoPendiente-content" class="hidden">
                      </div>
                    </div>
                  </div>
                </div>
                <div id="opcionesAdicionales-content">
                  <div id="personalFuncionario-content" class="hidden">
                    personalFuncionario-content
                  </div>
                </div>
              </section>
            </div>
            <!-- ANUNCIOS -->
            <!--  SECCION DE DUDAS -->
            <div class="servicios-tramites-module__body__bloque anchor" id="TienesAlgunaDuda">
              <h2 id="contacto-y-ayuda">Contacto y ayuda</h2>
              <ul>
                <li>
                  <strong>Teléfono.</strong>
                  <a href="tel:976715561">976 715 561</a>
                </li>
                <li>
                  <strong>Correo electrónico.</strong>
                  Servicio de Planificación Energética
                  <a href="mailto:planificacionenergetica@aragon.es">planificacionenergetica@aragon.es</a>
                </li>
                <li>
                  <strong>Otros canales.</strong>
                  Horario teléfono
                  De 9:00 a 14:00 horas
                </li>
                <li>
                  <strong>Teléfono.</strong>
                  <a href="tel:976715529">976 715 529</a>
                </li>
              </ul>
              <!-- DUDAS: CAMPO CONFIGURABLE-->
              <h3>Ayuda con la tramitación electrónica</h3>
              <ul>
                <li><a href="https://www.aragon.es/tramites/guia-rapida-de-ayuda-al-ciudadano" target="_blank" title="Se abre en ventana nueva">Consulta las preguntas frecuentes generales de tramitación electrónica.</a></li>
                <li><a href="https://www.youtube.com/watch?v=IbRKnbH11-8&amp;list=PLU6GTGMRIf_c8g0bWIblj1BVqWTH7AwP4" target="_blank" title="Se abre en ventana nueva">Puedes consultar los tutoriales en YouTube sobre algunos aspectos clave de la tramitación electrónica.</a></li>
                <li>Si tienes dudas o problemas administrativos, contacta con el Servicio de Información y Registro:
                  <ul>
                    <li><a href="tel:+976714111" target="_blank" title="Se abre en ventana nueva">976 714 111</a>. De lunes a viernes de 9:00 a 14:00</li>
                    <li><a href="mailto:infoyregistro@aragon.es" target="_blank" title="Se abre en ventana nueva">infoyregistro@aragon.es</a></li>
                  </ul>
                </li>
                <li>Si tienes problemas técnicos, contacta con el Soporte Técnico de Servicios Digitales de Aragón:
                  <ul>
                    <li><a href="tel:+976289414" target="_blank" title="Se abre en ventana nueva">976 289 414</a>. De lunes a jueves de 7:30 a 18:30 y los viernes de 7:30 a 16:00.</li>
                    <li><a href="mailto:soportesae@aragon.es" target="_blank" title="Se abre en ventana nueva">soportesae@aragon.es</a></li>
                    <li><a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" target="_blank" title="Se abre en ventana nueva">Formulario de Solicitud de Soporte Técnico</a></li>
                    <li>WhatsApp: <a href="https://wa.me/34973901905" target="_blank" title="Se abre en ventana nueva">+34 973 901 905</a>. Más información sobre el <a href="/tramites/informacion-sobre-el-canal-whatsapp" target="_blank" title="Se abre en ventana nueva">canal WhatsApp</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <hr class="my-xl border-t border-neutral-dark">
          <div class="prose max-w-full">
            <div class="servicios-tramites-module__body__footer-info">
              <h2 class="sr-only"> Más información</h2>
              <h3>Órgano responsable</h3>
              <p>DIRECCIÓN GENERAL DE ENERGÍA Y MINAS</p>
              <!-- NORMATIVA -->
              <h3>Normativa</h3>
              <ul>
                <li><a href="https://boe.es/buscar/pdf/2003/BOE-A-2003-20977-consolidado.pdf">Ley 38/2003, de 18 de noviembre, General de Subvenciones</a></li>
                <li><a href="https://www.boe.es/eli/es/rd/2021/06/29/477">Real Decreto 477/2021, de 29 de junio, por el que se aprueba la concesión directa a las comunidades autónomas y a las ciudades de Ceuta y Melilla de ayudas para la ejecución de diversos programas de incentivos ligados al autoconsumo y al almacenamiento, con fuentes de energía renovable, así como a la implantación de sistemas térmicos renovables en el sector residencial, en el marco del Plan de Recuperación, Transformación y Resiliencia.</a></li>
                <li><a href="http://www.boa.aragon.es/cgi-bin/EBOA/BRSCGI?CMD=VEROBJ&MLKOB=1193499943939&type=pdf">Orden ICD/1524/2021, de 4 de noviembre, por la que se aprueba la convocatoria en Aragón de ayudas para la ejecución de diversos programas de incentivos ligados al autoconsumo y al almacenamiento, con fuentes de energía renovable, así como a la implantación de sistemas térmicos renovables en el sector residencial, en el marco del Plan de Recuperación, Transformación y Resiliencia.</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <div class="border border-neutral-base rounded-md p-base">
            <section id="plazos">
              {% set iniciarTramite %}
                {{ componentButton({
                  "text": "Iniciar trámite",
                  "classes": "c-button--primary w-full justify-center mb-base",
                  "href": "#"
                })  }}
                <p class="c-paragraph-base"><a href="#" class="c-link">Consultar formas de presentación</a></p>
              {% endset %}
              {% set pasosIniciarTramite %}
                <h4 class="mb-sm font-bold">Paso 1:</h4>
                {{ componentButton({
                  "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>Descargar formulario',
                  "classes": "w-full justify-center mb-base",
                  "href": "#"
                })  }}
                <p class="c-paragraph-base mb-0">No olvides revisar el resto de documentos necesarios:</p>
                <p class="c-paragraph-base"><a href="#" class="c-link">Consultar documentación</a></p>
                <hr class="my-lg border-t border-neutral-base">
                <h4 class="mb-sm font-bold">Paso 2:</h4>
                {{ componentButton({
                  "text": "Presentar trámite",
                  "classes": "c-button--primary w-full justify-center mb-base",
                  "href": "#"
                })  }}
                <p class="c-paragraph-base"><a href="#" class="c-link">Consultar formas de presentación</a></p>
              {% endset %}
              {% set inicioTramite %}
                <section id="formaPresentacion">
                  <div id="formaPresencial">
                    <div id="formaPresencialChecked" class="hidden">
                      <div id="oficinasDeRegistro">
                        <div id="oficinasDeRegistroChecked" class="hidden">
                          <hr class="my-lg border-t border-neutral-base">
                          <h4 class="mb-sm font-bold">Trámite presencial</h4>
                          <p class="c-paragraph-base">Acude a nuestras oficinas de Registro con cita previa para presentar tu trámite.</p>
                          <div id="modelo-oficinasDeRegistro">
                            <div id="modelo-oficinasDeRegistro-siNecesario" class="hidden">
                              {{ componentButton({
                                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>Descargar formulario',
                                "classes": "w-full justify-center mb-base",
                                "href": "#"
                              })  }}
                            </div>
                            <div id="modelo-oficinasDeRegistro-noNecesario" class="hidden">
                            </div>
                          </div>
                          {{ componentButton({
                            "text": "Pedir cita previa",
                            "classes": "c-button--primary w-full justify-center mb-base",
                            "href": "#"
                          })  }}
                          <p class="c-paragraph-base"><a href="#" class="c-link">Consultar formas de presentación</a></p>
                        </div>
                      </div>
                      <div id="otroSitio">
                        <div id="otroSitioChecked" class="hidden">
                          <hr class="my-lg border-t border-neutral-base">
                          <h4 class="mb-sm font-bold">Trámite presencial</h4>
                          <p class="c-paragraph-base">Acude a nuestras oficinas para presentar tu trámite.</p>
                          <div id="modelo-otroSitio">
                            <div id="modelo-otroSitio-siNecesario" class="hidden">
                              {{ componentButton({
                                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M10 5.22a.75.75 0 0 0-1 0L8.18 6a.26.26 0 0 1-.28.06.25.25 0 0 1-.15-.23V.75a.75.75 0 0 0-1.5 0v5.09a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.07L5 5.22a.75.75 0 0 0-1 0 .75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0L10 6.28a.75.75 0 0 0 0-1.06ZM13 9.5a1 1 0 0 0-1 1v1.25a.25.25 0 0 1-.25.25h-9.5a.25.25 0 0 1-.25-.25V10.5a1 1 0 0 0-2 0V12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1.5a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(3.42857)"/></svg>Descargar formulario',
                                "classes": "w-full justify-center mb-base",
                                "href": "#"
                              })  }}
                            </div>
                            <div id="modelo-otroSitio-noNecesario" class="hidden">
                            </div>
                          </div>
                          <p class="c-paragraph-base"><a href="#" class="c-link">Consultar formas de presentación</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="formaElectronico">
                    <div id="formaElectronicoChecked" class="hidden">
                      <div id="opcionesDeSolicitudElectronica">
                        <div id="tto" class="hidden">
                          {{ iniciarTramite | safe }}
                        </div>
                        <div id="rega" class="hidden">
                          <div id="modelo-rega">
                            <div id="rega-siNecesario" class="hidden">
                              {{ pasosIniciarTramite | safe }}
                            </div>
                            <div id="rega-noNecesario" class="hidden">
                              {{ iniciarTramite | safe }}
                            </div>
                          </div>
                        </div>
                        <div id="propia" class="hidden">
                          {{ iniciarTramite | safe }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="opcionesAdicionales">
                    <div id="personalFuncionario" class="hidden">
                      personalFuncionario
                    </div>
                  </div>
                </section>
              {% endset %}
              {% set consultarTramite %}
                  {{ componentButton({
                    "text": "Consultar trámite",
                    "classes": "c-button--primary w-full justify-center mb-base",
                    "href": "#"
                  })  }}
                  <p class="c-paragraph-base"><a href="#" class="c-link">Consultar formas de presentación</a></p>
              {% endset %}
              <div id="fueraDePlazo" class="hidden">
                <h3 class="c-h3">Plazo de presentación:</h3>
                <p class="c-paragraph-base">Del 08/09/2021 al 08/10/2021</p>
                <p class="c-paragraph-base font-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block align-middle w-4 h-4 mr-xs text-alert-base" aria-hidden="true" focusable="false"><path d="M7 0a7 7 0 1 0 7 7 7 7 0 0 0-7-7Zm2.74 9.74a.87.87 0 0 1-1.24 0L7.18 8.41a.27.27 0 0 0-.36 0L5.5 9.74a.88.88 0 0 1-1.24 0A.85.85 0 0 1 4 9.12a.87.87 0 0 1 .26-.62l1.33-1.32a.27.27 0 0 0 0-.36L4.26 5.5A.88.88 0 0 1 5.5 4.26l1.32 1.33a.27.27 0 0 0 .36 0L8.5 4.26A.88.88 0 1 1 9.74 5.5L8.41 6.82a.27.27 0 0 0 0 .36L9.74 8.5a.87.87 0 0 1 .26.62.85.85 0 0 1-.26.62Z" fill="currentcolor" transform="scale(3.42857)"/></svg>Fuera de plazo</p>
                {{ consultarTramite | safe }}
              </div>
              <div id="enPlazo" class="hidden">
                <h3 class="c-h3">Plazo de presentación:</h3>
                <div id="fechas-enPlazo">
                  <div id="fechas-enPlazo-fechasPermanente" class="hidden">
                    <p class="c-paragraph-base">En plazo permanente</p>
                  </div>
                  <div id="fechas-enPlazo-fechasTemporal" class="hidden">
                    <p id="fechas-enPlazo-fechasTemporal-temporalInicioFin" class="c-paragraph-base hidden">Del 08/09/2021 al 08/10/2025</p>
                    <p id="fechas-enPlazo-fechasTemporal-temporalInicioFinHorario" class="c-paragraph-base hidden">Del 23/06/2023 a las 09:00h al 29/06/2023 a las 14:00h</p>
                    <p id="fechas-enPlazo-fechasTemporal-temporalInicio" class="c-paragraph-base hidden">Desde el 08/09/2021</p>
                    <p id="fechas-enPlazo-fechasTemporal-temporalFin" class="c-paragraph-base hidden">Hasta el 08/10/2025</p>
                    <p id="fechas-enPlazo-fechasTemporal-temporalVacios" class="c-paragraph-base hidden">Sin fecha de vencimiento</p>
                  </div>
                </div>
                <p class="c-paragraph-base font-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block align-middle w-4 h-4 mr-xs text-success-dark" aria-hidden="true" focusable="false"><path d="M7 0a7 7 0 1 0 7 7 7 7 0 0 0-7-7Zm3.6 5.9-4 4a1 1 0 0 1-.7.3 1 1 0 0 1-.71-.3L3.4 8.07a1 1 0 0 1 1.42-1.42l.92.93a.29.29 0 0 0 .18.07.26.26 0 0 0 .17-.07l3.09-3.09a1 1 0 0 1 1.42 0 1 1 0 0 1 0 1.41Z" fill="currentColor" transform="scale(3.42857)"/></svg>En plazo</p>
                {{ inicioTramite | safe }}
              </div>
              <div id="plazoProximo" class="hidden">
                <h3 class="c-h3">Plazo de presentación:</h3>
                <div id="fechas-plazoProximo" class="c-fechas">
                  <div id="fechas-plazoProximo-fechasPermanente" class="hidden">
                    <p class="c-paragraph-base">En plazo permanente</p>
                  </div>
                  <div id="fechas-plazoProximo-fechasTemporal" class="hidden">
                    <p id="fechas-plazoProximo-fechasTemporal-temporalInicioFin" class="c-paragraph-base hidden">Del 23/06/2023 al 29/06/2023</p>
                    <p id="fechas-plazoProximo-fechasTemporal-temporalInicioFinHorario" class="c-paragraph-base hidden">Del 23/06/2023 a las 09:00h al 29/06/2023 a las 14:00h</p>
                    <p id="fechas-plazoProximo-fechasTemporal-temporalInicio" class="c-paragraph-base hidden">Desde el 08/09/2021</p>
                    <p id="fechas-plazoProximo-fechasTemporal-temporalFin" class="c-paragraph-base hidden">Hasta el 08/10/2025</p>
                    <p id="fechas-plazoProximo-fechasTemporal-temporalVacios" class="c-paragraph-base hidden">Sin fecha de vencimiento</p>
                  </div>
                </div>
                <p class="c-paragraph-base font-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block align-middle w-4 h-4 mr-xs text-warning-base" aria-hidden="true" focusable="false"><path d="m13.84 11.83-5.5-11a1.5 1.5 0 0 0-2.68 0l-5.5 11a1.49 1.49 0 0 0 .06 1.46A1.52 1.52 0 0 0 1.5 14h11a1.52 1.52 0 0 0 1.28-.71 1.49 1.49 0 0 0 .06-1.46ZM6.25 5a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0ZM7 12a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z" fill="currentColor" transform="scale(3.42857)"/></svg>Proximamente</p>
                {{ consultarTramite | safe }}
              </div>
              <div id="plazoPendiente" class="hidden">
                <h3 class="c-h3">Plazo de presentación:</h3>
                <p class="c-paragraph-base font-semibold"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block align-middle w-4 h-4 mr-xs text-neutral-base" aria-hidden="true" focusable="false"><path d="M12 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM3.25 8.25A1.25 1.25 0 1 1 4.5 7a1.25 1.25 0 0 1-1.25 1.25Zm3.75 0A1.25 1.25 0 1 1 8.25 7 1.25 1.25 0 0 1 7 8.25Zm3.75 0A1.25 1.25 0 1 1 12 7a1.25 1.25 0 0 1-1.25 1.25Z" fill="currentcolor" transform="scale(3.42857)"/></svg>Plazo pendiente de definir</p>
              </div>
            </section>
            <section id="subsanacion">
              <hr class="my-lg border-t border-neutral-base">
              <h3 class="c-h3">Subsanación</h3>
              <p class="c-paragraph-base">Si falta información en tu trámite, la Administración te lo comunicará y te dará un plazo para subsanarlo o mejorarlo.</p>
              {{ componentButton({
                "text": "Subsanar trámite",
                "classes": "w-full justify-center mb-base"
              })  }}
            </section>
            <section id="aportacion">
              <hr class="my-lg border-t border-neutral-base">
              <h3 class="c-h3">Aportación</h3>
              <p class="c-paragraph-base">Puedes realizar alegaciones o aportar documentos tras presentar tu trámite.</p>
              {{ componentButton({
                "text": "Aportar documentación",
                "classes": "w-full justify-center mb-base",
                "href": "#"
              })  }}
            </section>
            <section id="resolucion">
              <hr class="my-lg border-t border-neutral-base">
              <h3 class="c-h3">Resolución</h3>
              <p class="c-paragraph-base text-neutral-dark">6 meses</p>
              <p class="c-paragraph-base">Si tu trámite no se ha resuelto pasado el plazo de resolución, se considera denegado.</p>
              <p class="c-paragraph-base"><a href="#" class="c-link">Saber más</a></p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# {% include "includes/_script.index.njk" %} #}
{% endblock %}